In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../"))

# Any results you write to the current directory are saved as output.

['.idea', '.ipynb_checkpoints', '.vscode', 'code before 2019-03-21', 'compare', 'DataMing', 'HuaWei', 'JData', 'JData_Predict', 'Maching Learning', 'Markdown', 'out PDF', 'tiancheng', 'venv', '__pycache__']

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
path = './'

In [ ]:
import lightgbm as lgb
pd.set_option('display.max_columns',None)
user_app_actived_reader = pd.read_csv(path + "user_app_actived.csv", names=['uid','appId'], iterator=True)

In [4]:
app_id_used = []
app_id_frequence = dict()
i = 1
while True:
    try:
        print("index: {}".format(i))
        i+=1
        df = user_app_actived_reader.get_chunk(100000)
        for index, row in df.iterrows():
            temp = row['appId'].split('#')
            app_id_used += temp
#             app_id_used = list(set(app_id_used))
#             for app_id_key in temp:
#                 app_id_frequence[app_id_key] = 1
#                 app_id_frequence[app_id_key] = 1 if app_id_key not in app_id_frequence.keys() else app_id_frequence[app_id_key] + 1
    except StopIteration:
        break

index: 1
index: 2
index: 3
index: 4
index: 5
index: 6
index: 7
index: 8
index: 9
index: 10
index: 11
index: 12
index: 13
index: 14
index: 15
index: 16
index: 17
index: 18
index: 19
index: 20
index: 21
index: 22
index: 23
index: 24
index: 25
index: 26
index: 27

In [5]:
user_app_actived_reader = []

In [6]:
from collections import Counter
counter = Counter(app_id_used)

In [7]:
counter = pd.DataFrame(data={
    'appId': list(counter.keys()),
    'app_fre': list(counter.values())
})

In [8]:
counter.describe()

            app_fre
count  9.401000e+03
mean   1.082897e+04
std    8.089038e+04
min    1.000000e+00
25%    4.790000e+02
50%    1.063000e+03
75%    2.853000e+03
max    2.339048e+06

In [9]:
id2fre_dict = dict(zip(counter.appId.values, counter.app_fre.values))

In [10]:
app_id_used = set(counter.appId.values)

In [11]:
app_info = pd.read_csv(path + 'app_info.csv', names=['appId','category'])

In [12]:
app_id_exist = set(app_info.appId.values)

In [13]:
app_id_not_exist = app_id_used.difference(app_id_exist)
app_id_intersection = app_id_exist.intersection(app_id_used)

In [14]:
print(len(app_id_not_exist), len(app_id_intersection), len(app_id_exist), len(app_id_used))

1232 8169 167622 9401

In [15]:
df_intersection = pd.DataFrame()
df_intersection['appId'] = list(app_id_intersection)
df_intersection.head()

       appId
0  a00129139
1  a00176868
2  a00444387
3   a0044927
4  a00108271

In [16]:
df_intersection = pd.merge(df_intersection, app_info, on='appId', how='left')

In [17]:
df_intersection.describe()

            appId category
count       10618    10618
unique       8169       31
top     a00313693     实用工具
freq            8     2782

In [18]:
df_diff = pd.DataFrame()

**暂时作为未知进行处理，后面考虑进行分类别？**

In [19]:
df_diff['appId'] = list(app_id_not_exist)
# 暂时作为未知进行处理
df_diff['category'] = '未知'
app_info_used = df_intersection.append(df_diff)

In [20]:
app_info_used.describe()

            appId category
count       11850    11850
unique       9401       32
top     a00313693     实用工具
freq            8     2782

In [21]:
app_info_used[app_info_used.appId == 'a00313693']

          appId category
6123  a00313693     便捷生活
6124  a00313693     出行导航
6125  a00313693     动作射击
6126  a00313693     实用工具
6127  a00313693       教育
6128  a00313693     购物比价
6129  a00313693     运动健康
6130  a00313693     金融理财

In [22]:
app_info_used['frequency'] = app_info_used['appId'].apply(lambda x: id2fre_dict[x])

In [23]:
app_info_appId_counter = Counter(app_info_used['appId'].values)

In [24]:
app_info_used['category_num'] = app_info_used['appId'].apply(lambda x: app_info_appId_counter[x])

In [25]:
app_info_used.head()

       appId category  frequency  category_num
0  a00129139     实用工具        357             1
1  a00176868     便捷生活        808             1
2  a00444387     实用工具       1179             1
3   a0044927     角色扮演        323             1
4  a00108271     实用工具        755             2

添加category_id字段，也就是category映射到32个字段上，同时添加frequency_inv字段，**暂时取2512500/frequency** 2512500是总人数

In [26]:
category2id = dict(zip(np.unique(app_info_used.category.values), np.arange(1, 33)))

In [27]:
category2id

{'主题个性': 1,
 '休闲游戏': 2,
 '休闲益智': 3,
 '体育竞速': 4,
 '便捷生活': 5,
 '儿童': 6,
 '出行导航': 7,
 '动作冒险': 8,
 '动作射击': 9,
 '商务': 10,
 '图书阅读': 11,
 '学习办公': 12,
 '实用工具': 13,
 '影音娱乐': 14,
 '拍摄美化': 15,
 '教育': 16,
 '新闻阅读': 17,
 '旅游住宿': 18,
 '未知': 19,
 '棋牌天地': 20,
 '棋牌桌游': 21,
 '汽车': 22,
 '益智棋牌': 23,
 '社交通讯': 24,
 '经营策略': 25,
 '网络游戏': 26,
 '美食': 27,
 '表盘个性': 28,
 '角色扮演': 29,
 '购物比价': 30,
 '运动健康': 31,
 '金融理财': 32}

In [28]:
app_info_used['category_id'] = app_info_used.category.apply(lambda x: category2id[x])
app_info_used['frequency_inv'] = 2512500/app_info_used['frequency']

In [29]:
app_info_used.head()

       appId category  frequency  category_num  category_id  frequency_inv
0  a00129139     实用工具        357             1           13    7037.815126
1  a00176868     便捷生活        808             1            5    3109.529703
2  a00444387     实用工具       1179             1           13    2131.043257
3   a0044927     角色扮演        323             1           29    7778.637771
4  a00108271     实用工具        755             2           13    3327.814570

In [30]:
app_info_used = app_info_used.sort_values(by=['appId'])

In [31]:
app_info_used.head()

           appId category  frequency  category_num  category_id  frequency_inv
599           \N       未知       3738             1           19     672.150883
10459  a00100007       商务       3214             2           10     781.736154
10458  a00100007     便捷生活       3214             2            5     781.736154
388    a00100109       未知        572             1           19    4392.482517
1910   a00100361       教育        701             1           16    3584.165478

In [32]:
app_info_used.index = np.arange(0, len(app_info_used.index))

In [33]:
app_info_used.head()

       appId category  frequency  category_num  category_id  frequency_inv
0         \N       未知       3738             1           19     672.150883
1  a00100007       商务       3214             2           10     781.736154
2  a00100007     便捷生活       3214             2            5     781.736154
3  a00100109       未知        572             1           19    4392.482517
4  a00100361       教育        701             1           16    3584.165478

In [34]:
id2category_dict = dict()
id2freq = dict()
id2category_num = dict()
for index, row in app_info_used.iterrows():
    if row['appId'] in id2category_dict:
        id2category_dict[row['appId']] += [row['category_id']]
        
    else:
        id2category_dict[row['appId']] = [row['category_id']]
        id2freq[row['appId']] = row['frequency_inv']
        id2category_num[row['appId']] = row['category_num']

## id2category_dict = dict()  app_id -> category
## id2freq = dict()           app_id -> freq
## id2category_num = dict()   app_id -> category_num

## app_info_used 是app信息表格

In [35]:
age_test = pd.read_csv(path + 'age_test.csv', names = ['uId'])
age_train = pd.read_csv(path + 'age_train.csv', names = ['uId'], usecols=[0])
age_test = list(age_test.uId.values)
age_uid_total = age_test + list(age_train.uId.values)
age_uid_total = set(age_uid_total)
app_actived = pd.read_csv(path + 'user_app_actived.csv', header=None, names = ['uId', 'appId'])
app_actived_uid = set(app_actived.uId.values)

In [36]:
app_actived

             uId                                              appId
0        1000008  a00105157#a00109386#a00134746#a0013952#a001451...
1        1000010  a00102782#a00107077#a00109386#a00134746#a00136...
2        1000011  a00158535#a00163116#a00170432#a00187480#a00224...
3        1000013  a00109386#a0011601#a0012768#a00136287#a0014516...
4        1000014  a00109386#a0011894#a0013059#a00134840#a0013578...
5        1000016  a00102782#a0011894#a002265#a00239261#a00289791...
6        1000021  a00109386#a00145168#a0015359#a0021880#a0023501...
7        1000022  a00109386#a00117437#a00118538#a0013770#a001451...
8        1000036  a00101827#a00101845#a00107264#a00109386#a00116...
9        1000047  a00109386#a00143562#a00200080#a0021880#a002244...
10       1000050  a00109386#a0011230#a00114016#a00145168#a001466...
11       1000062  a00102448#a00102782#a00109386#a0013146#a001355...
12       1000065  a00109386#a0012409#a00135591#a00136283#a001395...
13       1000068  a00109386#a00115898#a00135785#a0014177#a001575...
14       1000074  a00109386#a00158535#a00187149#a00187480#a00230...
15       1000076  a00102782#a00109386#a00122787#a00144187#a00145...
16       1000079  a00109386#a00158614#a00173182#a00244790#a00274...
17       1000088  a00102782#a00109386#a00134746#a00135785#a00137...
18       1000092  a00109386#a0011601#a0012832#a0014473#a00149637...
19       1000093  a00109386#a0011894#a00166554#a00170432#a002011...
20       1000095  a00170432#a00184278#a00270334#a00276471#a00287...
21       1000097  a00109386#a00170432#a00184261#a00187480#a00218...
22       1000099  a00109386#a00140327#a00157201#a00158614#a00170...
23       1000106  a00170432#a00185465#a00193331#a00212352#a00217...
24       1000112  a00144187#a00153984#a00160089#a00169591#a00170...
25       1000114  a00102959#a00109386#a0012440#a00133009#a001572...
26       1000115  a00109386#a00158535#a00160089#a00170432#a00171...
27       1000126  a00109386#a00152899#a00152901#a00152906#a00156...
28       1000133  a00102448#a00109386#a00153517#a00158074#a00170...
29       1000134  a00102782#a00109386#a0011046#a0011601#a0011674...
...          ...                                                ...
2512470  3512378  a00106943#a00109386#a00111581#a0011601#a001395...
2512471  3512382  a00109386#a00158614#a00217423#a00246263#a00276...
2512472  3512383  a00109386#a00180359#a00187480#a00213681#a00247...
2512473  3512384  a00109386#a00122625#a00154682#a00157201#a00166...
2512474  3512406  a00109386#a00163564#a00170432#a00184261#a00187...
2512475  3512416  a00109386#a0011535#a00137574#a00139578#a001441...
2512476  3512422  a00107873#a00109386#a0012832#a0013146#a0014516...
2512477  3512426  a00109386#a00142417#a00145168#a00157201#a00157...
2512478  3512429  a00109386#a00144187#a00170432#a00187480#a00194...
2512479  3512430  a0011759#a00139524#a00140327#a00145168#a001572...
2512480  3512431  a00109386#a00140327#a00145168#a00170394#a00218...
2512481  3512432  a00109386#a0011535#a00116743#a0012832#a0013578...
2512482  3512433  a00107264#a00109386#a00121665#a0012862#a001354...
2512483  3512441  a00109386#a00157201#a00157220#a00158535#a00166...
2512484  3512445  a00122446#a0012440#a00145168#a00151490#a001568...
2512485  3512448  a00109386#a00145168#a0015281#a00157201#a001572...
2512486  3512452  a00135785#a00157201#a00157220#a00158588#a00158...
2512487  3512453  a00109386#a00134677#a00145168#a00162201#a00209...
2512488  3512457  a00109386#a00170432#a0021880#a00224427#a002439...
2512489  3512458  a00101827#a00102782#a00109386#a0011230#a001214...
2512490  3512461  a00102782#a00104275#a00109386#a00109824#a00118...
2512491  3512464  a00102720#a00109386#a00145168#a0015685#a001704...
2512492  3512466  a00102939#a00109386#a00134746#a00135785#a00150...
2512493  3512475  a00109386#a00144187#a00157201#a0021880#a002447...
2512494  3512476  a00102448#a00109386#a00144187#a00157058#a00157...
2512495  3512477  a00109386#a00121683#a00158614#a00187480#a00225...
2512496  3512479  a00109386#a0011894#a00145168#a00149248#a001586...
2512497  3512483  a00109386#a00135785#a0017008#a00170432#a001874...
2512498  3512484  a00102895#a00109386#a00158614#a00170432#a00212...
2512499  3512491  a00109386#a0012409#a00142198#a0014473#a0020705...

[2512500 rows x 2 columns]

没有缺失值，这是一件值得开心的事情

In [37]:
len(age_uid_total.difference(app_actived_uid))

0

In [38]:
app_actived_uid == age_uid_total

True

In [39]:
len(app_actived_uid)

2512500

用户表 添加 category_num   [1, 2, 3, 4, 5, 6, 8] 7个 字段、添加category  1-32个字段

In [40]:
category_index = ['category' + str(i + 1) for i in range(32)]
len(category_index)
category_num_index = ['category_num' + str(i) for i in [1, 2, 3, 4, 5, 6, 8]]
len(category_num_index)
new_index = category_index + category_num_index

In [41]:
for index in new_index:
    app_actived[index] = 0
    app_actived[index] = app_actived[index].astype(int)

In [42]:
app_actived['fre'] = 0.0

In [43]:
app_actived.head()

,uId,appId,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10,category11,category12,category13,category14,category15,category16,category17,category18,category19,category20,category21,category22,category23,category24,category25,category26,category27,category28,category29,category30,category31,category32,category_num1,category_num2,category_num3,category_num4,category_num5,category_num6,category_num8,fre
0,1000008,a00105157#a00109386#a00134746#a0013952#a001451...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
1,1000010,a00102782#a00107077#a00109386#a00134746#a00136...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
2,1000011,a00158535#a00163116#a00170432#a00187480#a00224...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
3,1000013,a00109386#a0011601#a0012768#a00136287#a0014516...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0
4,1000014,a00109386#a0011894#a0013059#a00134840#a0013578...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0

In [44]:
max(id2category_num.values())

8

In [45]:
# id2category_dict = dict()
# id2freq = dict()
# id2category_num = dict()
def get_statis(app_id_list):
    app_id = app_id_list.split('#')
    temps = np.zeros(39, dtype=int)
    freq = 0
    for i in app_id:
        temps[np.array(id2category_dict[i]) - 1] += 1
        freq += id2freq[i]
        temp_num = id2category_num[i]
        if temp_num == 8:
            temp_num = 7
        temps[temp_num + 32 - 1] += 1
#     temps = np.array(list(temps).append(freq))
    return list(temps) + [freq]

In [46]:
index = new_index + ['fre']

In [47]:
temp = app_actived.appId.apply(lambda x: get_statis(x))

In [48]:
len(temp[1])

40

In [49]:
len(index)

40

In [50]:
temp2 = app_actived[index].iloc[0]

In [51]:
temp2[index] = temp[1]

In [58]:
app2fea_dict = dict(zip(app_actived.uId.values, temp))

In [59]:
app_actived[index] = np.vstack(app_actived.uId.apply(lambda x:np.array(app2fea_dict[x])).values)
app_actived.head()

,uId,appId,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10,category11,category12,category13,category14,category15,category16,category17,category18,category19,category20,category21,category22,category23,category24,category25,category26,category27,category28,category29,category30,category31,category32,category_num1,category_num2,category_num3,category_num4,category_num5,category_num6,category_num8,fre
0,1000008,a00105157#a00109386#a00134746#a0013952#a001451...,0.0,0.0,0.0,0.0,12.0,2.0,6.0,0.0,0.0,5.0,0.0,0.0,13.0,5.0,0.0,5.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,0.0,8.0,1.0,6.0,24.0,17.0,2.0,3.0,0.0,0.0,0.0,4057.887938
1,1000010,a00102782#a00107077#a00109386#a00134746#a00136...,0.0,0.0,0.0,0.0,15.0,0.0,11.0,0.0,0.0,1.0,0.0,0.0,16.0,6.0,3.0,4.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,3.0,20.0,17.0,5.0,3.0,0.0,0.0,0.0,3841.639311
2,1000011,a00158535#a00163116#a00170432#a00187480#a00224...,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,8.0,6.0,0.0,2.0,0.0,0.0,0.0,2741.710736
3,1000013,a00109386#a0011601#a0012768#a00136287#a0014516...,0.0,0.0,0.0,0.0,11.0,0.0,7.0,0.0,0.0,2.0,0.0,0.0,13.0,5.0,0.0,3.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,5.0,24.0,14.0,4.0,1.0,0.0,0.0,0.0,5540.761669
4,1000014,a00109386#a0011894#a0013059#a00134840#a0013578...,0.0,0.0,0.0,0.0,15.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,25.0,10.0,0.0,10.0,5.0,2.0,1.0,0.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,4.0,30.0,18.0,4.0,3.0,0.0,0.0,0.0,4246.621297

In [ ]:
%whos

In [60]:
app_actived['app_num'] = app_actived.appId.apply(lambda x: len(x.split('#')))

In [61]:
app_actived.head()

,uId,appId,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10,category11,category12,category13,category14,category15,category16,category17,category18,category19,category20,category21,category22,category23,category24,category25,category26,category27,category28,category29,category30,category31,category32,category_num1,category_num2,category_num3,category_num4,category_num5,category_num6,category_num8,fre,app_num
0,1000008,a00105157#a00109386#a00134746#a0013952#a001451...,0.0,0.0,0.0,0.0,12.0,2.0,6.0,0.0,0.0,5.0,0.0,0.0,13.0,5.0,0.0,5.0,1.0,1.0,1.0,0.0,0.0,2.0,0.0,7.0,0.0,0.0,1.0,0.0,0.0,8.0,1.0,6.0,24.0,17.0,2.0,3.0,0.0,0.0,0.0,4057.887938,46
1,1000010,a00102782#a00107077#a00109386#a00134746#a00136...,0.0,0.0,0.0,0.0,15.0,0.0,11.0,0.0,0.0,1.0,0.0,0.0,16.0,6.0,3.0,4.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,3.0,20.0,17.0,5.0,3.0,0.0,0.0,0.0,3841.639311,45
2,1000011,a00158535#a00163116#a00170432#a00187480#a00224...,0.0,0.0,1.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,8.0,6.0,0.0,2.0,0.0,0.0,0.0,2741.710736,16
3,1000013,a00109386#a0011601#a0012768#a00136287#a0014516...,0.0,0.0,0.0,0.0,11.0,0.0,7.0,0.0,0.0,2.0,0.0,0.0,13.0,5.0,0.0,3.0,3.0,3.0,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,7.0,2.0,5.0,24.0,14.0,4.0,1.0,0.0,0.0,0.0,5540.761669,43
4,1000014,a00109386#a0011894#a0013059#a00134840#a0013578...,0.0,0.0,0.0,0.0,15.0,0.0,4.0,0.0,0.0,1.0,0.0,0.0,25.0,10.0,0.0,10.0,5.0,2.0,1.0,0.0,0.0,1.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,4.0,30.0,18.0,4.0,3.0,0.0,0.0,0.0,4246.621297,55

## 转变存储格式

In [62]:
app_actived['app_num'] = app_actived['app_num'].astype(int)
app_actived[new_index] = app_actived[new_index].astype(int)

# 丢弃app_id列
app_actived.drop(columns = 'appId', inplace=True)
app_actived.head()

,uId,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10,category11,category12,category13,category14,category15,category16,category17,category18,category19,category20,category21,category22,category23,category24,category25,category26,category27,category28,category29,category30,category31,category32,category_num1,category_num2,category_num3,category_num4,category_num5,category_num6,category_num8,fre,app_num
0,1000008,0,0,0,0,12,2,6,0,0,5,0,0,13,5,0,5,1,1,1,0,0,2,0,7,0,0,1,0,0,8,1,6,24,17,2,3,0,0,0,4057.887938,46
1,1000010,0,0,0,0,15,0,11,0,0,1,0,0,16,6,3,4,4,4,1,0,0,0,0,4,0,0,0,0,0,7,2,3,20,17,5,3,0,0,0,3841.639311,45
2,1000011,0,0,1,0,4,0,0,0,1,0,0,0,6,5,0,1,2,0,0,0,0,0,0,3,1,0,0,0,1,3,0,0,8,6,0,2,0,0,0,2741.710736,16
3,1000013,0,0,0,0,11,0,7,0,0,2,0,0,13,5,0,3,3,3,2,0,0,0,0,5,0,0,0,0,0,7,2,5,24,14,4,1,0,0,0,5540.761669,43
4,1000014,0,0,0,0,15,0,4,0,0,1,0,0,25,10,0,10,5,2,1,0,0,1,0,6,0,0,0,0,0,6,0,4,30,18,4,3,0,0,0,4246.621297,55

In [63]:
app_actived.to_csv('./output/app_actived_new.csv', index=False)

In [64]:
app_actived.describe()

,uId,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10,category11,category12,category13,category14,category15,category16,category17,category18,category19,category20,category21,category22,category23,category24,category25,category26,category27,category28,category29,category30,category31,category32,category_num1,category_num2,category_num3,category_num4,category_num5,category_num6,category_num8,fre,app_num
count,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06,2.512500e+06
mean,2.256250e+06,1.755471e-01,4.035821e-04,5.382038e-01,4.770149e-02,9.789607e+00,2.506846e-01,2.960330e+00,1.910448e-05,3.170523e-01,1.978901e+00,4.087562e-04,7.644975e-03,1.634636e+01,7.468680e+00,1.743654e+00,4.224839e+00,2.782909e+00,7.657421e-01,1.710926e+00,1.198647e-02,2.160756e-01,4.513409e-01,3.992040e-04,4.733523e+00,3.594113e-01,1.209711e-02,8.024808e-01,2.189055e-05,8.456517e-02,4.669950e+00,5.061807e-01,4.039176e+00,2.150519e+01,1.391111e+01,2.984884e+00,2.007852e+00,3.952239e-04,9.630408e-02,1.294289e-02,9.401000e+03,4.051868e+01
std,7.252964e+05,4.574309e-01,2.008530e-02,1.054482e+00,2.457641e-01,6.092056e+00,1.670422e+00,2.994119e+00,4.370826e-03,7.058737e-01,1.906636e+00,2.021359e-02,8.710070e-02,8.488256e+00,4.214684e+00,2.001112e+00,2.852492e+00,2.354522e+00,1.256042e+00,1.580852e+00,1.088246e-01,5.423645e-01,8.751460e-01,2.132525e-02,2.912475e+00,6.717153e-01,1.098897e-01,1.362827e+00,4.678683e-03,3.821107e-01,3.164112e+00,9.489601e-01,4.592366e+00,1.314513e+01,8.583999e+00,1.977834e+00,7.203497e-01,1.987631e-02,2.989307e-01,1.130282e-01,1.925124e+04,2.283286e+01
min,1.000001e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.074155e+00,1.000000e+00
25%,1.628126e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+01,4.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01,8.000000e+00,2.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.976985e+03,2.400000e+01
50%,2.256250e+06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.500000e+01,7.000000e+00,1.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00,3.000000e+00,1.900000e+01,1.300000e+01,3.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.596049e+03,3.700000e+01
75%,2.884375e+06,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.300000e+01,0.000000e+00,4.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01,1.000000e+01,2.000000e+00,5.000000e+00,4.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,6.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,1.000000e+00,6.000000e+00,2.800000e+01,1.800000e+01,4.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.180430e+04,5.200000e+01
max,3.512500e+06,2.100000e+01,1.000000e+00,9.400000e+01,1.900000e+01,1.170000e+02,1.990000e+02,6.700000e+01,1.000000e+00,6.900000e+01,4.400000e+01,1.000000e+00,1.000000e+00,3.280000e+02,1.040000e+02,7.000000e+01,1.010000e+02,1.080000e+02,2.600000e+01,7.400000e+01,1.000000e+00,2.400000e+01,2.300000e+01,2.000000e+00,9.100000e+01,2.800000e+01,2.000000e+00,2.300000e+01,1.000000e+00,3.100000e+01,5.600000e+01,2.800000e+01,1.290000e+02,6.120000e+02,2.520000e+02,3.600000e+01,7.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,4.937231e+06,8.880000e+02

In [66]:
app_info_used.to_csv('./output/app_info_used.csv', index=False)

## app_actived处理完毕
接下来进行marge然后训练模型

In [65]:
%whos

Variable                  Type         Data/Info
------------------------------------------------
Counter                   type         <class 'collections.Counter'>
age_test                  list         n=502500
age_train                 DataFrame                 uId\n0      <...>2010000 rows x 1 columns]
age_uid_total             set          {1000001, 1000002, 100000<...>512498, 3512499, 3512500}
app2fea_dict              dict         n=2512500
app_actived               DataFrame                 uId  categor<...>512500 rows x 42 columns]
app_actived_uid           set          {1000001, 1000002, 100000<...>512498, 3512499, 3512500}
app_id_exist              set          {'a00208638', 'a0053918',<...> 'a0017432', 'a00100149'}
app_id_frequence          dict         n=0
app_id_intersection       set          {'a00129139', 'a00176868'<...>'a00272066', 'a00180107'}
app_id_not_exist          set          {'a0046340', 'a00309002',<...>'a00248339', 'a00244801'}
app_id_used               set          {'a00129139', 'a00176868'<...>'a00158074', 'a00180107'}
app_info                  DataFrame                appId categor<...>[188864 rows x 2 columns]
app_info_appId_counter    Counter      Counter({'a00313693': 8, <...>339': 1, 'a00244801': 1})
app_info_used             DataFrame               appId category<...>n[11850 rows x 6 columns]
category2id               dict         n=32
category_index            list         n=32
category_num_index        list         n=7
counter                   DataFrame              appId  app_fre\<...>\n[9401 rows x 2 columns]
df                        DataFrame                 uid         <...>n[12500 rows x 2 columns]
df_diff                   DataFrame              appId category\<...>\n[1232 rows x 2 columns]
df_intersection           DataFrame               appId category<...>n[10618 rows x 2 columns]
get_statis                function     <function get_statis at 0x00000206BF88CE18>
i                         int          442
id2category_dict          dict         n=9401
id2category_num           dict         n=9401
id2fre_dict               dict         n=9401
id2freq                   dict         n=9401
index                     list         n=40
lgb                       module       <module 'lightgbm' from '<...>\\lightgbm\\__init__.py'>
new_index                 list         n=39
np                        module       <module 'numpy' from 'e:\<...>ges\\numpy\\__init__.py'>
os                        module       <module 'os' from 'e:\\python3.7-64\\lib\\os.py'>
path                      str          ./
pd                        module       <module 'pandas' from 'e:<...>es\\pandas\\__init__.py'>
row                       Series       appId            a0099934<...>ame: 11849, dtype: object
temp                      Series       0          [0, 0, 0, 0, 1<...>h: 2512500, dtype: object
temp2                     Series       category1           0.000<...>\nName: 0, dtype: float64
user_app_actived_reader   list         n=0
warnings                  module       <module 'warnings' from '<...>.7-64\\lib\\warnings.py'>

# 第二次特征工程  添加安装频率处理

In [1]:
import numpy as np
import pandas as pd
import warnings

In [2]:
path = 'output/'
app_info = pd.read_csv(path + 'app_info_used.csv')

In [3]:
app_info.head()

       appId category  frequency  category_num  category_id  frequency_inv
0         \N       未知       3738             1           19     672.150883
1  a00100007       商务       3214             2           10     781.736154
2  a00100007     便捷生活       3214             2            5     781.736154
3  a00100109       未知        572             1           19    4392.482517
4  a00100361       教育        701             1           16    3584.165478

In [4]:
def deal_category_id():
    category_id_length = []
    unique_id = []
    diff_unique_id = []
    total_num = np.zeros([32, 10], dtype=int)
    for cat_id in  np.arange(1,33):
        temp = app_info[app_info.category_id == cat_id]['frequency'].values
        temp = np.sort(temp)
        length = len(temp)
        temp_index = []
        temp_values = []
        category_id_length += [length]
        if length < 10:
            unique_id += [cat_id] 
        else:
            diff_unique_id += [cat_id]
        print('category', cat_id, 'length is', length)
        for i in range(10):
            total_num[cat_id-1, i] = temp[i * length // 10]
            temp_index += [i * length // 10]
            temp_values += [temp[i * length // 10]]
        print(temp_index)
        print(temp_values)
    print(category_id_length)
    print('unique_id',unique_id)
    print('diff_unique_id', diff_unique_id)
    print(total_num)
    return category_id_length, unique_id, diff_unique_id, total_num

In [5]:
category_id_length, unique_id, diff_unique_id, total_num = deal_category_id()

category 1 length is 91
[0, 9, 18, 27, 36, 45, 54, 63, 72, 81]
[15, 104, 263, 412, 621, 784, 1201, 1460, 2401, 4608]
category 2 length is 2
[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
[142, 142, 142, 142, 142, 872, 872, 872, 872, 872]
category 3 length is 502
[0, 50, 100, 150, 200, 251, 301, 351, 401, 451]
[5, 134, 198, 268, 348, 457, 653, 912, 1489, 3580]
category 4 length is 58
[0, 5, 11, 17, 23, 29, 34, 40, 46, 52]
[6, 101, 154, 205, 256, 339, 583, 709, 1294, 2494]
category 5 length is 864
[0, 86, 172, 259, 345, 432, 518, 604, 691, 777]
[4, 429, 720, 942, 1272, 1703, 2449, 3906, 6921, 23339]
category 6 length is 415
[0, 41, 83, 124, 166, 207, 249, 290, 332, 373]
[82, 153, 220, 295, 435, 596, 817, 1059, 1427, 2626]
category 7 length is 375
[0, 37, 75, 112, 150, 187, 225, 262, 300, 337]
[29, 597, 888, 1162, 1554, 2170, 3039, 4317, 7855, 22942]
category 8 length is 1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[48, 48, 48, 48, 48, 48, 48, 48, 48, 48]
category 9 length is 228
[0, 22, 45, 68, 91, 114, 136, 159, 182, 205]
[8, 90, 131, 171, 207, 297, 409, 638, 1138, 1954]
category 10 length is 290
[0, 29, 58, 87, 116, 145, 174, 203, 232, 261]
[3, 522, 731, 927, 1124, 1422, 2275, 3694, 6210, 17934]
category 11 length is 1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[1027, 1027, 1027, 1027, 1027, 1027, 1027, 1027, 1027, 1027]
category 12 length is 1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[19208, 19208, 19208, 19208, 19208, 19208, 19208, 19208, 19208, 19208]
category 13 length is 2782
[0, 278, 556, 834, 1112, 1391, 1669, 1947, 2225, 2503]
[1, 247, 458, 690, 925, 1309, 1909, 2889, 5238, 12563]
category 14 length is 578
[0, 57, 115, 173, 231, 289, 346, 404, 462, 520]
[2, 244, 467, 686, 945, 1399, 2129, 3845, 7368, 23844]
category 15 length is 267
[0, 26, 53, 80, 106, 133, 160, 186, 213, 240]
[17, 272, 481, 725, 939, 1475, 2078, 3423, 6495, 15446]
category 16 length is 826
[0, 82, 165, 247, 330, 413, 495, 578, 660, 743]
[15, 318, 515, 697, 862, 1109, 1522, 2235, 3485, 8312]
category 17 length is 558
[0, 55, 111, 167, 223, 279, 334, 390, 446, 502]
[5, 324, 520, 728, 997, 1313, 1971, 3092, 5348, 14756]
category 18 length is 82
[0, 8, 16, 24, 32, 41, 49, 57, 65, 73]
[390, 1016, 1237, 1676, 2045, 3505, 5713, 7419, 14786, 36410]
category 19 length is 1232
[0, 123, 246, 369, 492, 616, 739, 862, 985, 1108]
[1, 108, 226, 352, 475, 605, 757, 1065, 1586, 2822]
category 20 length is 1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[30116, 30116, 30116, 30116, 30116, 30116, 30116, 30116, 30116, 30116]
category 21 length is 168
[0, 16, 33, 50, 67, 84, 100, 117, 134, 151]
[24, 152, 212, 315, 397, 555, 728, 997, 2202, 5153]
category 22 length is 114
[0, 11, 22, 34, 45, 57, 68, 79, 91, 102]
[238, 574, 823, 1101, 1375, 1934, 2501, 4595, 6748, 22466]
category 23 length is 2
[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]
[278, 278, 278, 278, 278, 725, 725, 725, 725, 725]
category 24 length is 558
[0, 55, 111, 167, 223, 279, 334, 390, 446, 502]
[2, 251, 488, 717, 965, 1361, 2010, 3092, 6159, 15792]
category 25 length is 199
[0, 19, 39, 59, 79, 99, 119, 139, 159, 179]
[7, 122, 211, 285, 401, 616, 805, 1180, 2186, 5593]
category 26 length is 4
[0, 0, 0, 1, 1, 2, 2, 2, 3, 3]
[659, 659, 659, 945, 945, 2178, 2178, 2178, 26612, 26612]
category 27 length is 79
[0, 7, 15, 23, 31, 39, 47, 55, 63, 71]
[171, 484, 880, 1248, 1658, 2509, 4537, 10648, 26945, 73019]
category 28 length is 1
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[55, 55, 55, 55, 55, 55, 55, 55, 55, 55]
category 29 length is 148
[0, 14, 29, 44, 59, 74, 88, 103, 118, 133]
[24, 136, 176, 323, 534, 679, 763, 1202, 2016, 2934]
category 30 length is 397
[0, 39, 79, 119, 158, 198, 238, 277, 317, 357]
[4, 476, 700, 917, 1250, 1672, 2394, 3886, 6557, 23238]
category 31 length is 275
[0, 27, 55, 82, 110, 137, 165, 192, 220, 247]
[7, 512, 677, 833, 1123, 1410, 1917, 2592, 4096, 11396]
category 32 length is 751
[0, 75, 150, 225, 300, 375, 450, 525, 600, 675]
[5, 552, 842, 1104, 1426, 2054, 2875, 4157, 6949, 16917]
[91, 2, 502, 58, 864, 415, 375, 1, 228, 290, 1, 1, 2782, 578, 267, 826, 558, 82, 1232, 1, 168, 114, 2, 558, 199, 4, 79, 1, 148, 397, 275, 751]
unique_id [2, 8, 11, 12, 20, 23, 26, 28]
diff_unique_id [1, 3, 4, 5, 6, 7, 9, 10, 13, 14, 15, 16, 17, 18, 19, 21, 22, 24, 25, 27, 29, 30, 31, 32]
[[   15   104   263   412   621   784  1201  1460  2401  4608]
 [  142   142   142   142   142   872   872   872   872   872]
 [    5   134   198   268   348   457   653   912  1489  3580]
 [    6   101   154   205   256   339   583   709  1294  2494]
 [    4   429   720   942  1272  1703  2449  3906  6921 23339]
 [   82   153   220   295   435   596   817  1059  1427  2626]
 [   29   597   888  1162  1554  2170  3039  4317  7855 22942]
 [   48    48    48    48    48    48    48    48    48    48]
 [    8    90   131   171   207   297   409   638  1138  1954]
 [    3   522   731   927  1124  1422  2275  3694  6210 17934]
 [ 1027  1027  1027  1027  1027  1027  1027  1027  1027  1027]
 [19208 19208 19208 19208 19208 19208 19208 19208 19208 19208]
 [    1   247   458   690   925  1309  1909  2889  5238 12563]
 [    2   244   467   686   945  1399  2129  3845  7368 23844]
 [   17   272   481   725   939  1475  2078  3423  6495 15446]
 [   15   318   515   697   862  1109  1522  2235  3485  8312]
 [    5   324   520   728   997  1313  1971  3092  5348 14756]
 [  390  1016  1237  1676  2045  3505  5713  7419 14786 36410]
 [    1   108   226   352   475   605   757  1065  1586  2822]
 [30116 30116 30116 30116 30116 30116 30116 30116 30116 30116]
 [   24   152   212   315   397   555   728   997  2202  5153]
 [  238   574   823  1101  1375  1934  2501  4595  6748 22466]
 [  278   278   278   278   278   725   725   725   725   725]
 [    2   251   488   717   965  1361  2010  3092  6159 15792]
 [    7   122   211   285   401   616   805  1180  2186  5593]
 [  659   659   659   945   945  2178  2178  2178 26612 26612]
 [  171   484   880  1248  1658  2509  4537 10648 26945 73019]
 [   55    55    55    55    55    55    55    55    55    55]
 [   24   136   176   323   534   679   763  1202  2016  2934]
 [    4   476   700   917  1250  1672  2394  3886  6557 23238]
 [    7   512   677   833  1123  1410  1917  2592  4096 11396]
 [    5   552   842  1104  1426  2054  2875  4157  6949 16917]]

In [6]:
diff_unique_id = ['category_id' + str(i) + '_level' for i in diff_unique_id]
for cat_id in ['category_id' + str(i) + '_level' for i in np.arange(1, 33)]:
    app_info[cat_id] = 0
    app_info[cat_id] = app_info[cat_id].astype(int)

In [7]:
app_info.head()

,appId,category,frequency,category_num,category_id,frequency_inv,category_id1_level,category_id2_level,category_id3_level,category_id4_level,...,category_id23_level,category_id24_level,category_id25_level,category_id26_level,category_id27_level,category_id28_level,category_id29_level,category_id30_level,category_id31_level,category_id32_level
0,\N,未知,3738,1,19,672.150883,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,a00100007,商务,3214,2,10,781.736154,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,a00100007,便捷生活,3214,2,5,781.736154,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,a00100109,未知,572,1,19,4392.482517,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,a00100361,教育,701,1,16,3584.165478,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
def get_level(frequency, category_id):
    temp = np.zeros(32,dtype=int)
    tag = 1
    if category_id in unique_id:
        tag = frequency
    else:
        for i in np.arange(1, 10):
            if frequency > total_num[category_id-1, i]:
                tag += 1
            else: 
                break
    temp[category_id - 1] = tag
    return temp

In [9]:
app_info[['category_id' + str(i) + '_level' for i in np.arange(1, 33)]] = np.vstack(app_info.apply(lambda x: get_level(x['frequency'], x['category_id']), axis=1))

In [10]:
app_info.describe()

,frequency,category_num,category_id,frequency_inv,category_id1_level,category_id2_level,category_id3_level,category_id4_level,category_id5_level,category_id6_level,...,category_id23_level,category_id24_level,category_id25_level,category_id26_level,category_id27_level,category_id28_level,category_id29_level,category_id30_level,category_id31_level,category_id32_level
count,1.185000e+04,11850.000000,11850.000000,1.185000e+04,11850.000000,11850.000000,11850.000000,11850.000000,11850.000000,11850.000000,...,11850.000000,11850.000000,11850.00000,11850.000000,11850.000000,11850.000000,11850.000000,11850.000000,11850.000000,11850.000000
mean,1.420502e+04,1.467679,15.830633,9.967332e+03,0.041857,0.085570,0.232574,0.026498,0.400591,0.192068,...,0.084641,0.258565,0.09173,2.564895,0.036287,0.004641,0.068270,0.183882,0.127004,0.348186
std,1.029941e+05,0.678705,8.106968,7.208983e+04,0.539224,8.115865,1.254077,0.427520,1.625484,1.142584,...,7.132708,1.319554,0.79396,245.508488,0.500181,0.505247,0.686472,1.118904,0.932793,1.521761
min,1.000000e+00,1.000000,1.000000,1.074155e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.122500e+02,1.000000,13.000000,7.805825e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.152000e+03,1.000000,14.000000,2.180990e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.218750e+03,2.000000,19.000000,4.904835e+03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.339048e+06,8.000000,32.000000,2.512500e+06,10.000000,872.000000,10.000000,10.000000,10.000000,10.000000,...,725.000000,10.000000,10.00000,26612.000000,10.000000,55.000000,10.000000,10.000000,10.000000,10.000000

In [11]:
cats = []
for i in range(1,33):
    cat = 'cat_num_' + str(i)
    cats += [cat]
    temp = dict(zip(app_info.appId[app_info.category_id == i].values, app_info['category_id' + str(i) + '_level'][app_info.category_id == i].values))
    exec(cat + '= %r' % temp)

In [12]:
cats

['cat_num_1',
 'cat_num_2',
 'cat_num_3',
 'cat_num_4',
 'cat_num_5',
 'cat_num_6',
 'cat_num_7',
 'cat_num_8',
 'cat_num_9',
 'cat_num_10',
 'cat_num_11',
 'cat_num_12',
 'cat_num_13',
 'cat_num_14',
 'cat_num_15',
 'cat_num_16',
 'cat_num_17',
 'cat_num_18',
 'cat_num_19',
 'cat_num_20',
 'cat_num_21',
 'cat_num_22',
 'cat_num_23',
 'cat_num_24',
 'cat_num_25',
 'cat_num_26',
 'cat_num_27',
 'cat_num_28',
 'cat_num_29',
 'cat_num_30',
 'cat_num_31',
 'cat_num_32']

In [13]:
user_app = pd.read_csv('user_app_actived.csv', header=None, names = ['uId', 'appId'])

In [14]:
user_app.head()

       uId                                              appId
0  1000008  a00105157#a00109386#a00134746#a0013952#a001451...
1  1000010  a00102782#a00107077#a00109386#a00134746#a00136...
2  1000011  a00158535#a00163116#a00170432#a00187480#a00224...
3  1000013  a00109386#a0011601#a0012768#a00136287#a0014516...
4  1000014  a00109386#a0011894#a0013059#a00134840#a0013578...

In [15]:
id2category_id_dict = dict()
for index, row in app_info.iterrows():
    if row['appId'] in id2category_id_dict:
        id2category_id_dict[row['appId']] += [row['category_id']]
    else:
        id2category_id_dict[row['appId']] = [row['category_id']]

In [16]:
1 in id2category_id_dict

False

In [17]:
user_id = user_app.uId.values

In [18]:
len(user_id)

2512500

In [19]:
sum_dict_index = ['sum_category_' + str(i) for i in np.arange(1, 33)]
min_dict_index =['min_category_' + str(i) for i in np.arange(1, 33)]
max_dict_index =['max_category_' + str(i) for i in np.arange(1, 33)]
mean_dict_index =['mean_category_' + str(i) for i in np.arange(1, 33)]
median_dict_index = ['median_category_' + str(i) for i in np.arange(1, 33)]
index_all =sum_dict_index +  min_dict_index + max_dict_index + mean_dict_index + median_dict_index
print(index_all)
for i in index_all:
    if 'min' in i or 'max' in i or 'sum' in i or 'median' in i:
        user_app[i] = 0
        user_app[i] = user_app[i].astype(int)
    else:
        user_app[i] = 0.0

['sum_category_1', 'sum_category_2', 'sum_category_3', 'sum_category_4', 'sum_category_5', 'sum_category_6', 'sum_category_7', 'sum_category_8', 'sum_category_9', 'sum_category_10', 'sum_category_11', 'sum_category_12', 'sum_category_13', 'sum_category_14', 'sum_category_15', 'sum_category_16', 'sum_category_17', 'sum_category_18', 'sum_category_19', 'sum_category_20', 'sum_category_21', 'sum_category_22', 'sum_category_23', 'sum_category_24', 'sum_category_25', 'sum_category_26', 'sum_category_27', 'sum_category_28', 'sum_category_29', 'sum_category_30', 'sum_category_31', 'sum_category_32', 'min_category_1', 'min_category_2', 'min_category_3', 'min_category_4', 'min_category_5', 'min_category_6', 'min_category_7', 'min_category_8', 'min_category_9', 'min_category_10', 'min_category_11', 'min_category_12', 'min_category_13', 'min_category_14', 'min_category_15', 'min_category_16', 'min_category_17', 'min_category_18', 'min_category_19', 'min_category_20', 'min_category_21', 'min_category_22', 'min_category_23', 'min_category_24', 'min_category_25', 'min_category_26', 'min_category_27', 'min_category_28', 'min_category_29', 'min_category_30', 'min_category_31', 'min_category_32', 'max_category_1', 'max_category_2', 'max_category_3', 'max_category_4', 'max_category_5', 'max_category_6', 'max_category_7', 'max_category_8', 'max_category_9', 'max_category_10', 'max_category_11', 'max_category_12', 'max_category_13', 'max_category_14', 'max_category_15', 'max_category_16', 'max_category_17', 'max_category_18', 'max_category_19', 'max_category_20', 'max_category_21', 'max_category_22', 'max_category_23', 'max_category_24', 'max_category_25', 'max_category_26', 'max_category_27', 'max_category_28', 'max_category_29', 'max_category_30', 'max_category_31', 'max_category_32', 'mean_category_1', 'mean_category_2', 'mean_category_3', 'mean_category_4', 'mean_category_5', 'mean_category_6', 'mean_category_7', 'mean_category_8', 'mean_category_9', 'mean_category_10', 'mean_category_11', 'mean_category_12', 'mean_category_13', 'mean_category_14', 'mean_category_15', 'mean_category_16', 'mean_category_17', 'mean_category_18', 'mean_category_19', 'mean_category_20', 'mean_category_21', 'mean_category_22', 'mean_category_23', 'mean_category_24', 'mean_category_25', 'mean_category_26', 'mean_category_27', 'mean_category_28', 'mean_category_29', 'mean_category_30', 'mean_category_31', 'mean_category_32', 'median_category_1', 'median_category_2', 'median_category_3', 'median_category_4', 'median_category_5', 'median_category_6', 'median_category_7', 'median_category_8', 'median_category_9', 'median_category_10', 'median_category_11', 'median_category_12', 'median_category_13', 'median_category_14', 'median_category_15', 'median_category_16', 'median_category_17', 'median_category_18', 'median_category_19', 'median_category_20', 'median_category_21', 'median_category_22', 'median_category_23', 'median_category_24', 'median_category_25', 'median_category_26', 'median_category_27', 'median_category_28', 'median_category_29', 'median_category_30', 'median_category_31', 'median_category_32']

In [20]:
id2category_id_dict

{'\\N': [19],
 'a00100007': [10, 5],
 'a00100109': [19],
 'a00100361': [16],
 'a00100402': [25],
 'a00100412': [3],
 'a00100436': [19],
 'a00100551': [16, 13],
 'a00100587': [24],
 'a00100609': [13],
 'a00100725': [13, 17],
 'a00100807': [17],
 'a00100823': [13, 17],
 'a00100924': [13, 17],
 'a00101036': [17, 13],
 'a0010117': [16],
 'a00101191': [29],
 'a00101205': [3, 13],
 'a00101266': [4],
 'a00101296': [13],
 'a00101298': [25],
 'a00101305': [13],
 'a00101316': [9],
 'a00101329': [9, 13],
 'a00101331': [9, 13, 25, 4],
 'a00101339': [29],
 'a00101347': [3, 13],
 'a00101378': [25],
 'a00101392': [25],
 'a00101522': [13],
 'a00101560': [6, 16],
 'a0010162': [13, 5],
 'a00101628': [13],
 'a00101632': [10],
 'a00101702': [17],
 'a00101750': [25, 3],
 'a00101827': [32],
 'a00101829': [32],
 'a00101831': [32],
 'a00101845': [32],
 'a00101992': [32, 5],
 'a00102154': [25],
 'a00102179': [24],
 'a00102193': [16],
 'a00102195': [16],
 'a00102196': [16],
 'a00102408': [13, 7],
 'a00102414': [30],
 'a00102448': [32],
 'a0010247': [13],
 'a00102470': [13],
 'a00102486': [5],
 'a00102505': [13],
 'a0010260': [13],
 'a0010265': [5, 14],
 'a00102650': [3],
 'a0010272': [19],
 'a00102720': [13, 5],
 'a00102782': [13, 32],
 'a00102808': [7, 13],
 'a00102809': [13, 10],
 'a00102814': [13],
 'a00102823': [31],
 'a0010287': [13],
 'a00102877': [5],
 'a00102895': [13],
 'a00102901': [18],
 'a00102935': [17],
 'a00102939': [17, 13],
 'a00102959': [5],
 'a00102991': [5],
 'a00103012': [17],
 'a00103026': [6],
 'a00103036': [13, 5],
 'a00103057': [7],
 'a00103219': [13, 16],
 'a00103242': [19],
 'a00103269': [13],
 'a00103270': [24],
 'a00103317': [16, 10],
 'a00103347': [24],
 'a00103370': [16, 13],
 'a00103406': [13],
 'a00103435': [5],
 'a00103436': [13],
 'a00103529': [19],
 'a00103531': [19],
 'a00103535': [16],
 'a00103536': [19],
 'a00103544': [16],
 'a00103549': [19],
 'a00103639': [32],
 'a00103682': [14, 3],
 'a00103693': [25],
 'a00103742': [13],
 'a00104202': [22],
 'a00104275': [7],
 'a00104283': [13, 30],
 'a00104293': [13],
 'a00104295': [13],
 'a00104431': [19],
 'a00104637': [16],
 'a00104639': [16],
 'a00104641': [16],
 'a00104657': [13, 10],
 'a00104716': [13],
 'a00104813': [13],
 'a00104817': [10, 13],
 'a00104826': [13],
 'a00104938': [13, 14],
 'a00104941': [14],
 'a00104998': [6],
 'a00105049': [19],
 'a00105071': [32],
 'a00105079': [18, 7],
 'a00105157': [10, 24],
 'a00105191': [30],
 'a00105537': [24],
 'a00105764': [19],
 'a00105768': [19],
 'a00105824': [5],
 'a00105838': [6],
 'a00105859': [24],
 'a00105866': [9],
 'a00105906': [16],
 'a00105946': [13, 32],
 'a00105947': [30],
 'a00105949': [13, 32],
 'a00105952': [32],
 'a00105953': [32],
 'a00105954': [13, 32],
 'a00105959': [16, 32],
 'a00105976': [13],
 'a00105979': [6],
 'a00106054': [14],
 'a00106061': [19],
 'a00106067': [5],
 'a00106096': [5, 7],
 'a00106128': [16],
 'a00106129': [16],
 'a00106132': [16],
 'a00106133': [16],
 'a00106158': [17],
 'a00106167': [19],
 'a00106214': [32],
 'a00106219': [13],
 'a00106220': [19],
 'a00106272': [30],
 'a00106301': [19],
 'a00106302': [9],
 'a00106461': [19],
 'a001066': [32],
 'a00106619': [5, 13],
 'a00106723': [13],
 'a00106736': [7],
 'a00106744': [13],
 'a00106855': [16],
 'a00106918': [13],
 'a00106943': [17],
 'a00106979': [15],
 'a00107025': [10],
 'a0010706': [6, 13],
 'a00107077': [14, 5],
 'a00107078': [13],
 'a0010708': [16],
 'a00107117': [24],
 'a00107264': [13],
 'a00107299': [5, 32],
 'a00107402': [32, 7],
 'a00107421': [30],
 'a00107436': [13, 17, 5],
 'a00107480': [16, 13],
 'a00107511': [16, 13],
 'a00107518': [13],
 'a00107589': [16, 13],
 'a00107661': [19],
 'a0010767': [16],
 'a00107699': [16],
 'a00107700': [16, 13],
 'a00107701': [16],
 'a00107702': [16, 13],
 'a00107711': [16],
 'a00107712': [16],
 'a00107717': [16, 17],
 'a00107718': [16, 13],
 'a00107787': [18],
 'a00107826': [32],
 'a00107872': [15, 14],
 'a00107873': [16, 13, 10],
 'a00107876': [15],
 'a00107882': [13, 7],
 'a00107910': [32, 13],
 'a00107952': [5, 13],
 'a00107964': [13, 14],
 'a00107985': [13],
 'a00108074': [19],
 'a0010809': [14],
 'a00108097': [13],
 'a00108101': [31],
 'a00108112': [13, 31],
 'a00108135': [31],
 'a00108166': [5],
 'a00108176': [30],
 'a00108240': [16],
 'a00108264': [13, 16],
 'a00108266': [16],
 'a00108271': [16, 13],
 'a00108279': [16],
 'a00108293': [16],
 'a00108558': [19],
 'a00108728': [19],
 'a0010875': [16],
 'a0010879': [13, 5],
 'a0010906': [31],
 'a00109082': [15],
 'a00109343': [19],
 'a00109386': [16, 13],
 'a00109407': [16],
 'a00109482': [13],
 'a00109525': [7],
 'a0010959': [13, 24],
 'a00109693': [16, 17],
 'a00109784': [19],
 'a00109824': [13],
 'a00109840': [16],
 'a00109993': [21],
 'a00109996': [21],
 'a0011003': [5],
 'a00110041': [19],
 'a0011033': [13, 26],
 'a00110458': [19],
 'a0011046': [7, 13],
 'a00110545': [16],
 'a00110598': [16],
 'a00110624': [19],
 'a0011069': [32],
 'a00110771': [19],
 'a00110774': [13, 9],
 'a0011080': [32],
 'a00110816': [31],
 'a0011084': [19],
 'a0011086': [16],
 'a00110881': [18],
 'a00110898': [13],
 'a00110947': [16],
 'a00110992': [16, 32],
 'a00111093': [5],
 'a0011127': [16, 6],
 'a00111314': [16],
 'a00111389': [19],
 'a0011150': [16],
 'a00111581': [17, 16],
 'a0011167': [22],
 'a00111743': [19],
 'a00111824': [19],
 'a00111906': [7, 13],
 'a00112104': [17, 32],
 'a00112186': [13],
 'a0011223': [15],
 'a0011230': [7, 13],
 'a00112328': [16],
 'a00112413': [32],
 'a00112435': [19],
 'a0011264': [30],
 'a00112882': [13, 7],
 'a00112988': [19],
 'a00113206': [19],
 'a00113391': [13],
 'a00113481': [13],
 'a0011356': [13],
 'a0011369': [16],
 'a00113938': [17],
 'a00114016': [7, 13, 22],
 'a0011409': [13],
 'a00114194': [32],
 'a00114196': [30, 13],
 'a00114356': [5, 16],
 'a00114437': [13, 1],
 'a00114593': [13],
 'a0011460': [7, 5, 13],
 'a0011461': [7],
 'a00114620': [14],
 'a00114738': [16],
 'a0011476': [19],
 'a00114982': [19],
 'a00115058': [16],
 'a00115158': [13],
 'a0011521': [13, 32],
 'a00115257': [13],
 'a00115258': [19],
 'a00115259': [13, 24],
 'a00115261': [13],
 'a00115262': [13],
 'a00115319': [13],
 'a0011532': [24],
 'a0011535': [13, 10],
 'a00115510': [18],
 'a00115523': [17],
 'a00115561': [13],
 'a00115686': [13],
 'a00115707': [13],
 'a00115741': [19],
 'a00115770': [13, 32],
 'a0011578': [14],
 'a00115786': [14],
 'a00115818': [5],
 'a00115836': [3, 13],
 'a00115898': [31],
 'a00115918': [19],
 'a00115923': [5],
 'a0011601': [14],
 'a0011604': [14],
 'a0011605': [17],
 'a00116184': [24, 13, 3],
 'a00116186': [24],
 'a00116188': [24],
 'a00116190': [3, 13, 24],
 'a00116191': [13],
 'a00116215': [13, 17],
 'a00116236': [10],
 'a0011631': [15, 13],
 'a00116387': [13, 5],
 'a00116441': [13, 18],
 'a00116599': [5],
 'a00116600': [5],
 'a00116715': [13],
 'a00116721': [13, 30],
 'a00116743': [30],
 'a00116758': [30],
 'a00116761': [30],
 'a00116834': [24],
 'a00116843': [19],
 'a00116918': [13],
 'a00116973': [5],
 'a00117044': [30],
 'a0011708': [30, 13],
 'a00117088': [13],
 'a00117101': [19],
 'a00117136': [13],
 'a00117137': [19],
 'a00117138': [13],
 'a00117167': [13, 24],
 'a00117171': [25],
 'a0011725': [32, 25],
 'a0011738': [32],
 'a0011739': [10],
 'a00117437': [17, 13],
 'a00117560': [13],
 'a00117561': [13],
 'a0011759': [5, 13],
 'a00117607': [13, 16],
 'a0011764': [31, 13],
 'a0011766': [17],
 'a00117662': [13],
 'a00117695': [32],
 'a0011773': [13],
 'a00117775': [13],
 'a0011779': [32],
 'a00117805': [4],
 'a00117821': [4],
 'a00117831': [4],
 'a00117993': [13],
 'a0011800': [7, 13],
 'a00118001': [17],
 'a00118201': [13],
 'a00118202': [30],
 'a00118203': [30],
 'a00118207': [30],
 'a00118213': [5],
 'a0011825': [32],
 'a00118283': [17],
 'a00118308': [16],
 'a00118309': [16],
 'a00118327': [15],
 'a0011833': [13],
 'a00118403': [1],
 'a00118407': [13, 15],
 'a00118428': [19],
 'a00118469': [16],
 'a00118471': [16],
 'a00118478': [16],
 'a00118479': [16, 32],
 'a00118481': [16],
 'a00118488': [16],
 'a00118489': [16],
 'a00118538': [22],
 'a0011856': [32],
 'a0011858': [13],
 'a00118650': [9],
 'a00118707': [32],
 'a0011871': [19],
 'a00118763': [9],
 'a0011884': [32],
 'a0011888': [32],
 'a0011890': [32],
 'a00118914': [16],
 'a00118922': [19],
 'a0011894': [32],
 'a00118945': [13],
 'a00118979': [16],
 'a0011900': [5],
 'a0011907': [16],
 'a00119081': [32],
 'a00119085': [30, 13],
 'a00119087': [32, 13],
 'a0011909': [16],
 'a00119121': [24],
 'a0011920': [32, 13, 5],
 'a0011925': [10],
 'a0011927': [16],
 'a0011941': [13, 32],
 'a00119466': [3],
 'a00119486': [3],
 'a0011949': [19],
 'a00119498': [3],
 'a00119500': [19],
 'a0011964': [19],
 'a00119692': [25],
 'a0011974': [19],
 'a0011987': [13],
 'a0011988': [13],
 'a0011992': [13],
 'a0011999': [13],
 'a00119999': [30],
 'a001200': [19],
 'a0012003': [10],
 'a0012004': [13],
 'a00120049': [16, 10],
 'a00120050': [19],
 'a00120108': [16],
 'a00120110': [13, 16],
 'a00120115': [13, 7],
 'a00120147': [13],
 'a00120151': [10, 32],
 'a00120174': [13],
 'a00120248': [13, 32],
 'a00120252': [32, 13],
 'a00120258': [10],
 'a00120411': [13],
 'a00120416': [3],
 'a00120424': [9],
 'a00120426': [9, 13, 25],
 'a00120430': [3, 4],
 'a00120433': [4],
 'a00120434': [3],
 'a00120436': [3],
 'a00120454': [21],
 'a00120466': [3],
 'a00120473': [13],
 'a00120475': [3],
 'a00120479': [19],
 'a00120486': [21],
 'a00120554': [19],
 'a00120564': [22],
 'a0012064': [22],
 'a00120657': [13],
 'a00120664': [19],
 'a00120677': [32],
 'a00120700': [13],
 'a00120704': [19],
 'a0012071': [13, 14],
 'a00120712': [13],
 'a00120724': [3],
 'a00120862': [31, 5],
 'a00120910': [15],
 'a00120958': [13, 7],
 'a0012101': [19],
 'a00121056': [13],
 'a00121104': [3],
 'a00121197': [13],
 'a00121232': [13],
 'a00121243': [13, 24],
 'a00121424': [7, 13],
 'a00121427': [25, 7],
 'a00121441': [13, 5],
 'a00121460': [19],
 'a00121491': [5],
 'a00121506': [13],
 'a00121519': [19],
 'a00121539': [13],
 'a00121571': [25],
 'a0012161': [16],
 'a00121665': [19],
 'a00121681': [17],
 'a00121682': [17],
 'a00121683': [17],
 'a00121714': [9, 3],
 'a0012172': [17],
 'a00121754': [30],
 'a0012176': [13],
 'a00121786': [13],
 'a00121814': [19],
 'a00121830': [14],
 'a0012188': [13, 32],
 'a00121909': [14, 17],
 'a00121948': [3],
 'a00121953': [19],
 'a00121957': [3],
 'a00121981': [13],
 'a00122010': [31],
 'a00122015': [31],
 'a0012215': [24, 13],
 'a00122252': [5],
 'a00122291': [10],
 'a00122385': [25],
 'a00122446': [32, 13],
 'a00122477': [9],
 'a00122539': [10],
 'a0012254': [13, 32],
 'a00122578': [17],
 'a00122595': [14, 15],
 'a00122603': [15],
 'a00122606': [15],
 'a00122625': [22],
 'a00122659': [13],
 'a00122660': [17],
 'a0012269': [32],
 'a0012272': [32],
 'a00122730': [17],
 'a00122752': [17],
 'a00122780': [17],
 'a00122787': [32],
 'a00122788': [32],
 'a0012289': [32],
 'a00122907': [19],
 'a00122928': [16],
 'a00122966': [13, 16],
 'a00122996': [21],
 'a00123124': [30],
 'a00123297': [17],
 'a00123351': [7],
 'a0012340': [17],
 'a0012346': [32],
 'a00123547': [17],
 'a00123550': [17],
 'a00123603': [13],
 'a00123609': [13],
 'a00123627': [13, 5],
 'a00123650': [27, 13],
 'a00123654': [5],
 'a00123690': [6],
 'a0012386': [32],
 'a0012389': [6],
 'a00123894': [13],
 'a00123936': [7],
 'a00123955': [32],
 'a0012407': [32],
 'a00124081': [17, 13],
 'a0012409': [22, 13],
 'a00124123': [25],
 'a0012428': [32],
 'a0012430': [32],
 'a0012432': [32],
 'a0012440': [13, 5],
 'a00124430': [30],
 'a00124438': [17],
 'a00124455': [5],
 'a0012447': [32],
 'a0012456': [25, 32],
 'a00124622': [17],
 'a0012467': [16],
 'a00124731': [29],
 'a00124739': [7],
 'a00124772': [14, 13],
 'a00124834': [25],
 'a00124849': [13],
 'a00124931': [15],
 'a00124987': [3, 25],
 'a00125014': [13],
 'a00125016': [14],
 'a0012511': [19],
 'a00125158': [19],
 'a00125189': [5],
 'a00125192': [7],
 'a00125193': [7, 5],
 'a00125196': [7, 13],
 'a00125253': [31],
 'a00125303': [16, 14],
 'a00125305': [13],
 'a00125402': [13],
 'a00125422': [19],
 'a00125436': [13],
 'a00125442': [7],
 'a0012545': [10, 13],
 'a00125459': [13],
 'a00125463': [7],
 'a00125515': [19],
 'a00125547': [32, 17],
 'a00125599': [13, 5],
 'a0012561': [18],
 'a00125620': [16],
 'a00125623': [16],
 'a00125694': [24],
 'a001257': [13],
 'a00125784': [13],
 'a00125785': [5],
 'a00125815': [19],
 'a00125817': [19],
 'a00125840': [19],
 'a00125889': [22],
 'a00125912': [16, 17],
 'a0012607': [32],
 'a00126352': [19],
 'a0012646': [13, 5],
 'a0012647': [5],
 'a00126553': [5],
 'a00126554': [13, 24],
 'a00126622': [4],
 'a00126669': [5, 32],
 'a00126731': [13],
 'a00127086': [13],
 'a0012713': [13, 32],
 'a0012716': [13],
 'a00127219': [25],
 'a0012730': [13, 27],
 'a0012739': [5, 30],
 'a00127576': [13],
 'a0012758': [17],
 'a00127582': [13],
 'a00127637': [19],
 'a0012768': [30],
 'a00127724': [13],
 'a0012778': [5],
 'a0012781': [13, 17],
 'a00127840': [29],
 'a00127842': [19],
 'a0012787': [1],
 'a0012798': [13],
 'a0012805': [32],
 'a0012809': [13, 5],
 'a00128178': [9],
 'a00128185': [9],
 'a0012827': [13],
 'a0012832': [16, 13],
 'a0012833': [5],
 'a00128441': [19],
 'a0012849': [5],
 'a0012851': [5],
 'a0012852': [5],
 'a0012855': [17, 5],
 'a00128557': [13],
 'a00128606': [17, 24],
 'a0012862': [17, 5],
 'a00128694': [9],
 'a00128721': [21],
 'a00128747': [19],
 'a00128869': [19],
 'a00128873': [14, 13, 3],
 'a00128877': [25, 14, 13, 3],
 'a00128893': [3],
 'a00128927': [19],
 'a00129074': [13],
 'a00129139': [13],
 'a00129182': [13, 32],
 'a00129189': [13, 5],
 'a00129195': [22, 13],
 'a00129206': [16],
 'a00129214': [15, 1, 13],
 'a00129217': [6],
 'a00129292': [16],
 'a00129331': [19],
 'a00129380': [16],
 'a00129428': [19],
 'a00129441': [5, 31],
 'a00129493': [19],
 'a00129496': [5],
 'a00129512': [1, 13],
 'a00129614': [32, 13],
 'a00129623': [13],
 'a00129662': [29],
 'a00129667': [13],
 'a00129778': [19],
 'a00129810': [24],
 'a00129988': [5],
 'a00129998': [19],
 'a0013005': [13],
 'a00130059': [13],
 'a00130107': [31],
 'a00130223': [13, 32],
 'a00130261': [24],
 'a00130290': [19],
 'a00130412': [16],
 'a00130459': [13],
 'a0013048': [19],
 'a0013049': [13],
 'a0013051': [32],
 'a00130556': [19],
 'a0013059': [32, 13],
 'a0013060': [32],
 'a00130603': [16],
 'a00130634': [17],
 'a00130640': [32, 27],
 'a00130650': [13],
 'a00130714': [5],
 'a0013083': [24, 13],
 'a00130881': [6],
 'a0013090': [17],
 'a00130904': [19],
 'a00130910': [16],
 'a0013094': [5, 17],
 'a00131017': [19],
 'a00131110': [24],
 'a00131136': [14, 5],
 'a00131146': [24],
 'a00131167': [19],
 'a00131175': [32],
 'a00131217': [27, 13],
 'a0013129': [24, 13],
 'a00131382': [22, 16],
 'a00131387': [16, 17],
 'a00131418': [19],
 'a00131426': [19],
 'a0013143': [32],
 'a00131444': [3],
 'a00131448': [30],
 'a0013146': [13, 32],
 'a00131547': [13],
 'a00131595': [19],
 'a00131662': [13],
 'a00131690': [13, 16],
 'a00131775': [14],
 'a00131793': [15],
 'a00131802': [18],
 'a00131907': [13],
 'a00131983': [14],
 'a00131984': [13, 14],
 'a00131991': [14],
 'a00132106': [24, 13],
 'a00132168': [32],
 'a00132218': [13],
 'a0013226': [19],
 'a00132269': [13],
 'a0013233': [7],
 'a00132526': [30],
 'a0013253': [5, 7, 13],
 'a00132613': [13],
 'a0013294': [16],
 'a00132942': [30],
 'a00132977': [30],
 'a00132982': [5, 13],
 'a00132999': [24, 16],
 'a00133005': [10],
 'a00133007': [13],
 'a00133009': [13, 10],
 'a00133018': [5],
 'a00133022': [5],
 'a00133025': [16],
 'a00133086': [13, 32],
 'a00133164': [9, 13],
 'a00133420': [7, 5],
 'a00133570': [10],
 'a00133689': [5],
 'a00133750': [15],
 'a00133753': [13, 24],
 'a00133759': [19],
 'a0013376': [30, 5],
 'a0013380': [15],
 'a00133917': [27],
 'a00133921': [13],
 'a0013393': [13],
 'a0013400': [13, 32],
 'a00134073': [32],
 'a00134147': [5, 30],
 'a00134163': [32],
 'a00134167': [32, 13],
 'a00134207': [14],
 'a00134208': [13],
 'a00134212': [13],
 'a00134281': [24, 13],
 'a0013429': [5],
 'a00134290': [32],
 'a0013436': [6],
 'a0013444': [3, 6],
 'a0013446': [6, 13],
 'a00134501': [5],
 'a00134514': [13],
 'a0013462': [13],
 'a00134659': [13],
 'a00134660': [14],
 'a00134666': [14, 13, 15],
 'a00134677': [15],
 'a00134746': [31],
 'a00134784': [14, 13],
 'a00134838': [16],
 'a00134840': [17],
 'a00134902': [24],
 'a0013504': [5],
 'a00135175': [5],
 'a00135248': [13, 31],
 'a0013529': [13],
 'a00135301': [13, 7],
 'a00135308': [31],
 'a0013542': [16, 13],
 'a00135496': [32],
 'a0013550': [16],
 'a00135515': [32, 13],
 'a00135545': [25],
 'a00135557': [10],
 'a00135562': [30],
 'a00135591': [5],
 'a00135620': [17],
 'a00135760': [5, 31],
 'a00135770': [7, 31],
 'a00135785': [16, 13],
 'a00135809': [18, 7],
 'a00135917': [13],
 'a00135942': [5, 13],
 'a00135973': [10],
 'a00136116': [3],
 'a00136283': [10],
 'a00136285': [19],
 'a00136287': [13],
 'a00136304': [16],
 'a00136315': [16],
 'a00136318': [31],
 'a00136323': [5],
 'a00136324': [5],
 'a00136328': [19],
 'a00136330': [19],
 'a00136331': [19],
 'a00136333': [19],
 'a00136379': [13, 5],
 'a00136459': [14, 13],
 'a00136496': [7],
 'a00136650': [24],
 'a00136652': [32],
 'a00136658': [14, 13],
 'a00136664': [6],
 'a00136670': [13],
 'a00136698': [30],
 'a00136708': [21],
 'a00136796': [5, 13, 32],
 'a00136838': [16],
 'a00136882': [19],
 'a00136903': [24],
 'a00136957': [22],
 'a00136969': [22],
 'a00137012': [17],
 'a00137019': [13],
 'a00137119': [32],
 'a00137132': [5],
 'a00137135': [16],
 'a00137290': [16, 17],
 'a00137354': [5, 13],
 'a00137421': [13, 32],
 'a00137476': [7],
 'a00137479': [17],
 'a00137480': [16],
 'a00137482': [24],
 'a00137530': [32, 5],
 'a00137535': [32],
 'a00137554': [32],
 'a00137574': [32],
 'a00137686': [32],
 'a0013770': [13, 14],
 'a00137800': [14],
 'a00137860': [7, 13],
 'a0013789': [32, 13],
 'a00137897': [32],
 'a00137955': [13],
 'a00137984': [14, 5],
 'a00137998': [10],
 'a00138068': [13],
 'a00138119': [13, 24],
 'a00138155': [5, 10],
 'a00138208': [19],
 'a00138224': [5, 13, 32],
 'a00138294': [16],
 'a0013831': [19],
 'a00138350': [19],
 'a00138390': [19],
 'a0013841': [22, 13],
 'a00138418': [32, 13],
 'a0013852': [19],
 'a00138592': [25],
 'a00138598': [19],
 'a0013861': [5],
 'a00138627': [32],
 'a00138796': [13, 32],
 'a00138972': [5],
 'a00138997': [3],
 'a00139308': [13],
 'a00139341': [19],
 'a00139468': [6],
 'a0013952': [5],
 'a00139524': [13, 27, 5],
 'a00139536': [7, 5],
 'a00139578': [13, 27],
 'a00139587': [13, 5],
 'a00139588': [5, 13],
 'a00139589': [13],
 'a0013960': [13],
 'a00139606': [32],
 'a00139608': [32],
 'a0013962': [27],
 'a00139642': [30],
 'a00139683': [5],
 'a00139696': [13],
 'a00139714': [24],
 'a00139727': [7],
 'a00139752': [24, 13],
 'a00139828': [30],
 'a00139834': [14],
 'a00139854': [32],
 'a00139861': [14],
 'a00139936': [10, 13],
 'a00139954': [6, 16],
 'a0013996': [13],
 'a00139997': [9],
 'a00140001': [3, 9],
 'a00140004': [3],
 'a00140052': [13],
 'a00140054': [13],
 'a0014009': [13],
 'a00140168': [13],
 'a00140313': [19],
 'a00140324': [13],
 'a00140327': [22, 5],
 'a00140328': [22],
 'a00140376': [24, 13],
 'a00140461': [32],
 'a00140477': [19],
 'a00140495': [29],
 'a00140625': [5],
 'a00140644': [13, 5],
 'a00140699': [32],
 'a00140735': [9],
 'a00140796': [5],
 'a00140845': [32],
 'a00140857': [31],
 'a00140859': [31, 5],
 'a00140864': [27],
 'a00140879': [13],
 'a00140898': [19],
 'a00140924': [6],
 'a00140985': [30],
 'a0014101': [16, 13],
 'a00141082': [19],
 'a00141114': [24, 13],
 'a00141205': [32],
 'a00141215': [31],
 'a00141258': [14],
 'a00141295': [30, 5],
 'a00141308': [21],
 'a0014138': [16, 17],
 'a00141426': [3],
 'a00141448': [31],
 'a00141459': [9],
 'a00141521': [21],
 'a00141526': [19],
 'a00141528': [21],
 'a00141542': [19],
 'a00141578': [14],
 'a0014163': [17, 16],
 'a0014164': [16, 17],
 'a00141663': [32],
 'a00141687': [13],
 'a00141762': [13, 10],
 'a0014177': [16],
 'a00141894': [13],
 'a00141911': [19],
 'a00141980': [5],
 'a0014206': [16],
 'a00142111': [13],
 'a00142122': [13],
 'a00142160': [24, 13],
 'a00142198': [32, 13],
 'a00142352': [32],

In [21]:
global count
count = 0
def apply_fre_fea(test):
    global count
    count += 1
    if count % 1000 == 0:
        print('count is', count)
    appid = test['appId'].split('#')
    num_dict = dict()
    for i in np.arange(1, 33):
        num_dict[i] = []
    for app_id in appid:
        for num in id2category_id_dict[app_id]:
            num_dict[num] += [eval('cat_num_' + str(num))[app_id]]
#             num_dict[num] += [app_info['category_id'+str(num)+'_level'][app_info.appId == app_id][app_info['category_id'+str(num)+'_level'] !=  0].values]
    num_dict_sum = []
    num_dict_min = []
    num_dict_max = []
    num_dict_mean = []
    num_dict_median = []
    for i in np.arange(1, 33):
        if len(num_dict[i]) == 0:
            num_dict_sum += [0]
            num_dict_min += [0]
            num_dict_max += [0]
            num_dict_mean += [0]
            num_dict_median += [0]
        else:
            num_dict_sum += [np.sum(num_dict[i])]
            num_dict_min += [np.min(num_dict[i])]
            num_dict_max += [np.max(num_dict[i])]
            num_dict_mean += [np.mean(num_dict[i])]
            num_dict_median += [np.median(num_dict[i])]
    test[sum_dict_index] = np.array(num_dict_sum)
    test[min_dict_index] = np.array(num_dict_min)
    test[max_dict_index] = np.array(num_dict_max)
    test[mean_dict_index] = np.array(num_dict_mean)
    test[median_dict_index] = np.array(num_dict_median)
    return test

In [22]:
user_app = user_app.apply(apply_fre_fea, axis=1)

count is 1000
count is 2000
count is 3000
count is 4000
count is 5000
count is 6000
count is 7000
count is 8000
count is 9000
count is 10000
count is 11000
count is 12000
count is 13000
count is 14000
count is 15000
count is 16000
count is 17000
count is 18000
count is 19000
count is 20000
count is 21000
count is 22000
count is 23000
count is 24000
count is 25000
count is 26000
count is 27000
count is 28000
count is 29000
count is 30000
count is 31000
count is 32000
count is 33000
count is 34000
count is 35000
count is 36000
count is 37000
count is 38000
count is 39000
count is 40000
count is 41000
count is 42000
count is 43000
count is 44000
count is 45000
count is 46000
count is 47000
count is 48000
count is 49000
count is 50000
count is 51000
count is 52000
count is 53000
count is 54000
count is 55000
count is 56000
count is 57000
count is 58000
count is 59000
count is 60000
count is 61000
count is 62000
count is 63000
count is 64000
count is 65000
count is 66000
count is 67000
count is 68000
count is 69000
count is 70000
count is 71000
count is 72000
count is 73000
count is 74000
count is 75000
count is 76000
count is 77000
count is 78000
count is 79000
count is 80000
count is 81000
count is 82000
count is 83000
count is 84000
count is 85000
count is 86000
count is 87000
count is 88000
count is 89000
count is 90000
count is 91000
count is 92000
count is 93000
count is 94000
count is 95000
count is 96000
count is 97000
count is 98000
count is 99000
count is 100000
count is 101000
count is 102000
count is 103000
count is 104000
count is 105000
count is 106000
count is 107000
count is 108000
count is 109000
count is 110000
count is 111000
count is 112000
count is 113000
count is 114000
count is 115000
count is 116000
count is 117000
count is 118000
count is 119000
count is 120000
count is 121000
count is 122000
count is 123000
count is 124000
count is 125000
count is 126000
count is 127000
count is 128000
count is 129000
count is 130000
count is 131000
count is 132000
count is 133000
count is 134000
count is 135000
count is 136000
count is 137000
count is 138000
count is 139000
count is 140000
count is 141000
count is 142000
count is 143000
count is 144000
count is 145000
count is 146000
count is 147000
count is 148000
count is 149000
count is 150000
count is 151000
count is 152000
count is 153000
count is 154000
count is 155000
count is 156000
count is 157000
count is 158000
count is 159000
count is 160000
count is 161000
count is 162000
count is 163000
count is 164000
count is 165000
count is 166000
count is 167000
count is 168000
count is 169000
count is 170000
count is 171000
count is 172000
count is 173000
count is 174000
count is 175000
count is 176000
count is 177000
count is 178000
count is 179000
count is 180000
count is 181000
count is 182000
count is 183000
count is 184000
count is 185000
count is 186000
count is 187000
count is 188000
count is 189000
count is 190000
count is 191000
count is 192000
count is 193000
count is 194000
count is 195000
count is 196000
count is 197000
count is 198000
count is 199000
count is 200000
count is 201000
count is 202000
count is 203000
count is 204000
count is 205000
count is 206000
count is 207000
count is 208000
count is 209000
count is 210000
count is 211000
count is 212000
count is 213000
count is 214000
count is 215000
count is 216000
count is 217000
count is 218000
count is 219000
count is 220000
count is 221000
count is 222000
count is 223000
count is 224000
count is 225000
count is 226000
count is 227000
count is 228000
count is 229000
count is 230000
count is 231000
count is 232000
count is 233000
count is 234000
count is 235000
count is 236000
count is 237000
count is 238000
count is 239000
count is 240000
count is 241000
count is 242000
count is 243000
count is 244000
count is 245000
count is 246000
count is 247000
count is 248000
count is 249000
count is 250000
count is 251000
count is 252000
count is 253000
count is 254000
count is 255000
count is 256000
count is 257000
count is 258000
count is 259000
count is 260000
count is 261000
count is 262000
count is 263000
count is 264000
count is 265000
count is 266000
count is 267000
count is 268000
count is 269000
count is 270000
count is 271000
count is 272000
count is 273000
count is 274000
count is 275000
count is 276000
count is 277000
count is 278000
count is 279000
count is 280000
count is 281000
count is 282000
count is 283000
count is 284000
count is 285000
count is 286000
count is 287000
count is 288000
count is 289000
count is 290000
count is 291000
count is 292000
count is 293000
count is 294000
count is 295000
count is 296000
count is 297000
count is 298000
count is 299000
count is 300000
count is 301000
count is 302000
count is 303000
count is 304000
count is 305000
count is 306000
count is 307000
count is 308000
count is 309000
count is 310000
count is 311000
count is 312000
count is 313000
count is 314000
count is 315000
count is 316000
count is 317000
count is 318000
count is 319000
count is 320000
count is 321000
count is 322000
count is 323000
count is 324000
count is 325000
count is 326000
count is 327000
count is 328000
count is 329000
count is 330000
count is 331000
count is 332000
count is 333000
count is 334000
count is 335000
count is 336000
count is 337000
count is 338000
count is 339000
count is 340000
count is 341000
count is 342000
count is 343000
count is 344000
count is 345000
count is 346000
count is 347000
count is 348000
count is 349000
count is 350000
count is 351000
count is 352000
count is 353000
count is 354000
count is 355000
count is 356000
count is 357000
count is 358000
count is 359000
count is 360000
count is 361000
count is 362000
count is 363000
count is 364000
count is 365000
count is 366000
count is 367000
count is 368000
count is 369000
count is 370000
count is 371000
count is 372000
count is 373000
count is 374000
count is 375000
count is 376000
count is 377000
count is 378000
count is 379000
count is 380000
count is 381000
count is 382000
count is 383000
count is 384000
count is 385000
count is 386000
count is 387000
count is 388000
count is 389000
count is 390000
count is 391000
count is 392000
count is 393000
count is 394000
count is 395000
count is 396000
count is 397000
count is 398000
count is 399000
count is 400000
count is 401000
count is 402000
count is 403000
count is 404000
count is 405000
count is 406000
count is 407000
count is 408000
count is 409000
count is 410000
count is 411000
count is 412000
count is 413000
count is 414000
count is 415000
count is 416000
count is 417000
count is 418000
count is 419000
count is 420000
count is 421000
count is 422000
count is 423000
count is 424000
count is 425000
count is 426000
count is 427000
count is 428000
count is 429000
count is 430000
count is 431000
count is 432000
count is 433000
count is 434000
count is 435000
count is 436000
count is 437000
count is 438000
count is 439000
count is 440000
count is 441000
count is 442000
count is 443000
count is 444000
count is 445000
count is 446000
count is 447000
count is 448000
count is 449000
count is 450000
count is 451000
count is 452000
count is 453000
count is 454000
count is 455000
count is 456000
count is 457000
count is 458000
count is 459000
count is 460000
count is 461000
count is 462000
count is 463000
count is 464000
count is 465000
count is 466000
count is 467000
count is 468000
count is 469000
count is 470000
count is 471000
count is 472000
count is 473000
count is 474000
count is 475000
count is 476000
count is 477000
count is 478000
count is 479000
count is 480000
count is 481000
count is 482000
count is 483000
count is 484000
count is 485000
count is 486000
count is 487000
count is 488000
count is 489000
count is 490000
count is 491000
count is 492000
count is 493000
count is 494000
count is 495000
count is 496000
count is 497000
count is 498000
count is 499000
count is 500000
count is 501000
count is 502000
count is 503000
count is 504000
count is 505000
count is 506000
count is 507000
count is 508000
count is 509000
count is 510000
count is 511000
count is 512000
count is 513000
count is 514000
count is 515000
count is 516000
count is 517000
count is 518000
count is 519000

count is 520000
count is 521000
count is 522000
count is 523000
count is 524000
count is 525000
count is 526000
count is 527000
count is 528000
count is 529000
count is 530000
count is 531000
count is 532000
count is 533000
count is 534000
count is 535000
count is 536000
count is 537000
count is 538000
count is 539000
count is 540000
count is 541000
count is 542000
count is 543000
count is 544000
count is 545000
count is 546000
count is 547000
count is 548000
count is 549000
count is 550000
count is 551000
count is 552000
count is 553000
count is 554000
count is 555000
count is 556000
count is 557000
count is 558000
count is 559000
count is 560000
count is 561000
count is 562000
count is 563000
count is 564000
count is 565000
count is 566000
count is 567000
count is 568000
count is 569000
count is 570000
count is 571000
count is 572000
count is 573000
count is 574000
count is 575000
count is 576000
count is 577000
count is 578000
count is 579000
count is 580000
count is 581000
count is 582000
count is 583000
count is 584000
count is 585000
count is 586000
count is 587000
count is 588000
count is 589000
count is 590000
count is 591000
count is 592000
count is 593000
count is 594000
count is 595000
count is 596000
count is 597000
count is 598000
count is 599000
count is 600000
count is 601000
count is 602000
count is 603000
count is 604000
count is 605000
count is 606000
count is 607000
count is 608000
count is 609000
count is 610000
count is 611000
count is 612000
count is 613000
count is 614000
count is 615000
count is 616000
count is 617000
count is 618000
count is 619000
count is 620000
count is 621000
count is 622000
count is 623000
count is 624000
count is 625000
count is 626000
count is 627000
count is 628000
count is 629000
count is 630000
count is 631000
count is 632000
count is 633000
count is 634000
count is 635000
count is 636000
count is 637000
count is 638000
count is 639000
count is 640000
count is 641000
count is 642000
count is 643000
count is 644000
count is 645000
count is 646000
count is 647000
count is 648000
count is 649000
count is 650000
count is 651000
count is 652000
count is 653000
count is 654000
count is 655000
count is 656000
count is 657000
count is 658000
count is 659000
count is 660000
count is 661000
count is 662000
count is 663000
count is 664000
count is 665000
count is 666000
count is 667000
count is 668000
count is 669000
count is 670000
count is 671000
count is 672000
count is 673000
count is 674000
count is 675000
count is 676000
count is 677000
count is 678000
count is 679000
count is 680000
count is 681000
count is 682000
count is 683000
count is 684000
count is 685000
count is 686000
count is 687000
count is 688000
count is 689000
count is 690000
count is 691000
count is 692000
count is 693000
count is 694000
count is 695000
count is 696000
count is 697000
count is 698000
count is 699000
count is 700000
count is 701000
count is 702000
count is 703000
count is 704000
count is 705000
count is 706000
count is 707000
count is 708000
count is 709000
count is 710000
count is 711000
count is 712000
count is 713000
count is 714000
count is 715000
count is 716000
count is 717000
count is 718000
count is 719000
count is 720000
count is 721000
count is 722000
count is 723000
count is 724000
count is 725000
count is 726000
count is 727000
count is 728000
count is 729000
count is 730000
count is 731000
count is 732000
count is 733000
count is 734000
count is 735000
count is 736000
count is 737000
count is 738000
count is 739000
count is 740000
count is 741000
count is 742000
count is 743000
count is 744000
count is 745000
count is 746000
count is 747000
count is 748000
count is 749000
count is 750000
count is 751000
count is 752000
count is 753000
count is 754000
count is 755000
count is 756000
count is 757000
count is 758000
count is 759000
count is 760000
count is 761000
count is 762000
count is 763000
count is 764000
count is 765000
count is 766000
count is 767000
count is 768000
count is 769000
count is 770000
count is 771000
count is 772000
count is 773000
count is 774000
count is 775000
count is 776000
count is 777000
count is 778000
count is 779000
count is 780000
count is 781000
count is 782000
count is 783000
count is 784000
count is 785000
count is 786000
count is 787000
count is 788000
count is 789000
count is 790000
count is 791000
count is 792000
count is 793000
count is 794000
count is 795000
count is 796000
count is 797000
count is 798000
count is 799000
count is 800000
count is 801000
count is 802000
count is 803000
count is 804000
count is 805000
count is 806000
count is 807000
count is 808000
count is 809000
count is 810000
count is 811000
count is 812000
count is 813000
count is 814000
count is 815000
count is 816000
count is 817000
count is 818000
count is 819000
count is 820000
count is 821000
count is 822000
count is 823000
count is 824000
count is 825000
count is 826000
count is 827000
count is 828000
count is 829000
count is 830000
count is 831000
count is 832000
count is 833000
count is 834000
count is 835000
count is 836000
count is 837000
count is 838000
count is 839000
count is 840000
count is 841000
count is 842000
count is 843000
count is 844000
count is 845000
count is 846000
count is 847000
count is 848000
count is 849000
count is 850000
count is 851000
count is 852000
count is 853000
count is 854000
count is 855000
count is 856000
count is 857000
count is 858000
count is 859000
count is 860000
count is 861000
count is 862000
count is 863000
count is 864000
count is 865000
count is 866000
count is 867000
count is 868000
count is 869000
count is 870000
count is 871000
count is 872000
count is 873000
count is 874000
count is 875000
count is 876000
count is 877000
count is 878000
count is 879000
count is 880000
count is 881000
count is 882000
count is 883000
count is 884000
count is 885000
count is 886000
count is 887000
count is 888000
count is 889000
count is 890000
count is 891000
count is 892000
count is 893000
count is 894000
count is 895000
count is 896000
count is 897000
count is 898000
count is 899000
count is 900000
count is 901000
count is 902000
count is 903000
count is 904000
count is 905000
count is 906000
count is 907000
count is 908000
count is 909000
count is 910000
count is 911000
count is 912000
count is 913000
count is 914000
count is 915000
count is 916000
count is 917000
count is 918000
count is 919000
count is 920000
count is 921000
count is 922000
count is 923000
count is 924000
count is 925000
count is 926000
count is 927000
count is 928000
count is 929000
count is 930000
count is 931000
count is 932000
count is 933000
count is 934000
count is 935000
count is 936000
count is 937000
count is 938000
count is 939000
count is 940000
count is 941000
count is 942000
count is 943000
count is 944000
count is 945000
count is 946000
count is 947000
count is 948000
count is 949000
count is 950000
count is 951000
count is 952000
count is 953000
count is 954000
count is 955000
count is 956000
count is 957000
count is 958000
count is 959000
count is 960000
count is 961000
count is 962000
count is 963000
count is 964000
count is 965000
count is 966000
count is 967000
count is 968000
count is 969000
count is 970000
count is 971000
count is 972000
count is 973000
count is 974000
count is 975000
count is 976000
count is 977000
count is 978000
count is 979000
count is 980000
count is 981000
count is 982000
count is 983000
count is 984000
count is 985000
count is 986000
count is 987000
count is 988000
count is 989000
count is 990000
count is 991000
count is 992000
count is 993000
count is 994000
count is 995000
count is 996000
count is 997000
count is 998000
count is 999000
count is 1000000
count is 1001000
count is 1002000
count is 1003000
count is 1004000
count is 1005000
count is 1006000
count is 1007000
count is 1008000
count is 1009000
count is 1010000
count is 1011000
count is 1012000
count is 1013000
count is 1014000
count is 1015000
count is 1016000
count is 1017000
count is 1018000
count is 1019000
count is 1020000
count is 1021000
count is 1022000
count is 1023000
count is 1024000
count is 1025000
count is 1026000
count is 1027000
count is 1028000
count is 1029000
count is 1030000

count is 1031000
count is 1032000
count is 1033000
count is 1034000
count is 1035000
count is 1036000
count is 1037000
count is 1038000
count is 1039000
count is 1040000
count is 1041000
count is 1042000
count is 1043000
count is 1044000
count is 1045000
count is 1046000
count is 1047000
count is 1048000
count is 1049000
count is 1050000
count is 1051000
count is 1052000
count is 1053000
count is 1054000
count is 1055000
count is 1056000
count is 1057000
count is 1058000
count is 1059000
count is 1060000
count is 1061000
count is 1062000
count is 1063000
count is 1064000
count is 1065000
count is 1066000
count is 1067000
count is 1068000
count is 1069000
count is 1070000
count is 1071000
count is 1072000
count is 1073000
count is 1074000
count is 1075000
count is 1076000
count is 1077000
count is 1078000
count is 1079000
count is 1080000
count is 1081000
count is 1082000
count is 1083000
count is 1084000
count is 1085000
count is 1086000
count is 1087000
count is 1088000
count is 1089000
count is 1090000
count is 1091000
count is 1092000
count is 1093000
count is 1094000
count is 1095000
count is 1096000
count is 1097000
count is 1098000
count is 1099000
count is 1100000
count is 1101000
count is 1102000
count is 1103000
count is 1104000
count is 1105000
count is 1106000
count is 1107000
count is 1108000
count is 1109000
count is 1110000
count is 1111000
count is 1112000
count is 1113000
count is 1114000
count is 1115000
count is 1116000
count is 1117000
count is 1118000
count is 1119000
count is 1120000
count is 1121000
count is 1122000
count is 1123000
count is 1124000
count is 1125000
count is 1126000
count is 1127000
count is 1128000
count is 1129000
count is 1130000
count is 1131000
count is 1132000
count is 1133000
count is 1134000
count is 1135000
count is 1136000
count is 1137000
count is 1138000
count is 1139000
count is 1140000
count is 1141000
count is 1142000
count is 1143000
count is 1144000
count is 1145000
count is 1146000
count is 1147000
count is 1148000
count is 1149000
count is 1150000
count is 1151000
count is 1152000
count is 1153000
count is 1154000
count is 1155000
count is 1156000
count is 1157000
count is 1158000
count is 1159000
count is 1160000
count is 1161000
count is 1162000
count is 1163000
count is 1164000
count is 1165000
count is 1166000
count is 1167000
count is 1168000
count is 1169000
count is 1170000
count is 1171000
count is 1172000
count is 1173000
count is 1174000
count is 1175000
count is 1176000
count is 1177000
count is 1178000
count is 1179000
count is 1180000
count is 1181000
count is 1182000
count is 1183000
count is 1184000
count is 1185000
count is 1186000
count is 1187000
count is 1188000
count is 1189000
count is 1190000
count is 1191000
count is 1192000
count is 1193000
count is 1194000
count is 1195000
count is 1196000
count is 1197000
count is 1198000
count is 1199000
count is 1200000
count is 1201000
count is 1202000
count is 1203000
count is 1204000
count is 1205000
count is 1206000
count is 1207000
count is 1208000
count is 1209000
count is 1210000
count is 1211000
count is 1212000
count is 1213000
count is 1214000
count is 1215000
count is 1216000
count is 1217000
count is 1218000
count is 1219000
count is 1220000
count is 1221000
count is 1222000
count is 1223000
count is 1224000
count is 1225000
count is 1226000
count is 1227000
count is 1228000
count is 1229000
count is 1230000
count is 1231000
count is 1232000
count is 1233000
count is 1234000
count is 1235000
count is 1236000
count is 1237000
count is 1238000
count is 1239000
count is 1240000
count is 1241000
count is 1242000
count is 1243000
count is 1244000
count is 1245000
count is 1246000
count is 1247000
count is 1248000
count is 1249000
count is 1250000
count is 1251000
count is 1252000
count is 1253000
count is 1254000
count is 1255000
count is 1256000
count is 1257000
count is 1258000
count is 1259000
count is 1260000
count is 1261000
count is 1262000
count is 1263000
count is 1264000
count is 1265000
count is 1266000
count is 1267000
count is 1268000
count is 1269000
count is 1270000
count is 1271000
count is 1272000
count is 1273000
count is 1274000
count is 1275000
count is 1276000
count is 1277000
count is 1278000
count is 1279000
count is 1280000
count is 1281000
count is 1282000
count is 1283000
count is 1284000
count is 1285000
count is 1286000
count is 1287000
count is 1288000
count is 1289000
count is 1290000
count is 1291000
count is 1292000
count is 1293000
count is 1294000
count is 1295000
count is 1296000
count is 1297000
count is 1298000
count is 1299000
count is 1300000
count is 1301000
count is 1302000
count is 1303000
count is 1304000
count is 1305000
count is 1306000
count is 1307000
count is 1308000
count is 1309000
count is 1310000
count is 1311000
count is 1312000
count is 1313000
count is 1314000
count is 1315000
count is 1316000
count is 1317000
count is 1318000
count is 1319000
count is 1320000
count is 1321000
count is 1322000
count is 1323000
count is 1324000
count is 1325000
count is 1326000
count is 1327000
count is 1328000
count is 1329000
count is 1330000
count is 1331000
count is 1332000
count is 1333000
count is 1334000
count is 1335000
count is 1336000
count is 1337000
count is 1338000
count is 1339000
count is 1340000
count is 1341000
count is 1342000
count is 1343000
count is 1344000
count is 1345000
count is 1346000
count is 1347000
count is 1348000
count is 1349000
count is 1350000
count is 1351000
count is 1352000
count is 1353000
count is 1354000
count is 1355000
count is 1356000
count is 1357000
count is 1358000
count is 1359000
count is 1360000
count is 1361000
count is 1362000
count is 1363000
count is 1364000
count is 1365000
count is 1366000
count is 1367000
count is 1368000
count is 1369000
count is 1370000
count is 1371000
count is 1372000
count is 1373000
count is 1374000
count is 1375000
count is 1376000
count is 1377000
count is 1378000
count is 1379000
count is 1380000
count is 1381000
count is 1382000
count is 1383000
count is 1384000
count is 1385000
count is 1386000
count is 1387000
count is 1388000
count is 1389000
count is 1390000
count is 1391000
count is 1392000
count is 1393000
count is 1394000
count is 1395000
count is 1396000
count is 1397000
count is 1398000
count is 1399000
count is 1400000
count is 1401000
count is 1402000
count is 1403000
count is 1404000
count is 1405000
count is 1406000
count is 1407000
count is 1408000
count is 1409000
count is 1410000
count is 1411000
count is 1412000
count is 1413000
count is 1414000
count is 1415000
count is 1416000
count is 1417000
count is 1418000
count is 1419000
count is 1420000
count is 1421000
count is 1422000
count is 1423000
count is 1424000
count is 1425000
count is 1426000
count is 1427000
count is 1428000
count is 1429000
count is 1430000
count is 1431000
count is 1432000
count is 1433000
count is 1434000
count is 1435000
count is 1436000
count is 1437000
count is 1438000
count is 1439000
count is 1440000
count is 1441000
count is 1442000
count is 1443000
count is 1444000
count is 1445000
count is 1446000
count is 1447000
count is 1448000
count is 1449000
count is 1450000
count is 1451000
count is 1452000
count is 1453000
count is 1454000
count is 1455000
count is 1456000
count is 1457000
count is 1458000
count is 1459000
count is 1460000
count is 1461000
count is 1462000
count is 1463000
count is 1464000
count is 1465000
count is 1466000
count is 1467000
count is 1468000
count is 1469000
count is 1470000
count is 1471000
count is 1472000
count is 1473000
count is 1474000
count is 1475000
count is 1476000
count is 1477000
count is 1478000
count is 1479000
count is 1480000
count is 1481000
count is 1482000
count is 1483000
count is 1484000
count is 1485000
count is 1486000
count is 1487000
count is 1488000
count is 1489000
count is 1490000
count is 1491000
count is 1492000
count is 1493000
count is 1494000
count is 1495000
count is 1496000
count is 1497000
count is 1498000
count is 1499000
count is 1500000
count is 1501000
count is 1502000
count is 1503000
count is 1504000
count is 1505000
count is 1506000
count is 1507000
count is 1508000
count is 1509000
count is 1510000
count is 1511000
count is 1512000

count is 1513000
count is 1514000
count is 1515000
count is 1516000
count is 1517000
count is 1518000
count is 1519000
count is 1520000
count is 1521000
count is 1522000
count is 1523000
count is 1524000
count is 1525000
count is 1526000
count is 1527000
count is 1528000
count is 1529000
count is 1530000
count is 1531000
count is 1532000
count is 1533000
count is 1534000
count is 1535000
count is 1536000
count is 1537000
count is 1538000
count is 1539000
count is 1540000
count is 1541000
count is 1542000
count is 1543000
count is 1544000
count is 1545000
count is 1546000
count is 1547000
count is 1548000
count is 1549000
count is 1550000
count is 1551000
count is 1552000
count is 1553000
count is 1554000
count is 1555000
count is 1556000
count is 1557000
count is 1558000
count is 1559000
count is 1560000
count is 1561000
count is 1562000
count is 1563000
count is 1564000
count is 1565000
count is 1566000
count is 1567000
count is 1568000
count is 1569000
count is 1570000
count is 1571000
count is 1572000
count is 1573000
count is 1574000
count is 1575000
count is 1576000
count is 1577000
count is 1578000
count is 1579000
count is 1580000
count is 1581000
count is 1582000
count is 1583000
count is 1584000
count is 1585000
count is 1586000
count is 1587000
count is 1588000
count is 1589000
count is 1590000
count is 1591000
count is 1592000
count is 1593000
count is 1594000
count is 1595000
count is 1596000
count is 1597000
count is 1598000
count is 1599000
count is 1600000
count is 1601000
count is 1602000
count is 1603000
count is 1604000
count is 1605000
count is 1606000
count is 1607000
count is 1608000
count is 1609000
count is 1610000
count is 1611000
count is 1612000
count is 1613000
count is 1614000
count is 1615000
count is 1616000
count is 1617000
count is 1618000
count is 1619000
count is 1620000
count is 1621000
count is 1622000
count is 1623000
count is 1624000
count is 1625000
count is 1626000
count is 1627000
count is 1628000
count is 1629000
count is 1630000
count is 1631000
count is 1632000
count is 1633000
count is 1634000
count is 1635000
count is 1636000
count is 1637000
count is 1638000
count is 1639000
count is 1640000
count is 1641000
count is 1642000
count is 1643000
count is 1644000
count is 1645000
count is 1646000
count is 1647000
count is 1648000
count is 1649000
count is 1650000
count is 1651000
count is 1652000
count is 1653000
count is 1654000
count is 1655000
count is 1656000
count is 1657000
count is 1658000
count is 1659000
count is 1660000
count is 1661000
count is 1662000
count is 1663000
count is 1664000
count is 1665000
count is 1666000
count is 1667000
count is 1668000
count is 1669000
count is 1670000
count is 1671000
count is 1672000
count is 1673000
count is 1674000
count is 1675000
count is 1676000
count is 1677000
count is 1678000
count is 1679000
count is 1680000
count is 1681000
count is 1682000
count is 1683000
count is 1684000
count is 1685000
count is 1686000
count is 1687000
count is 1688000
count is 1689000
count is 1690000
count is 1691000
count is 1692000
count is 1693000
count is 1694000
count is 1695000
count is 1696000
count is 1697000
count is 1698000
count is 1699000
count is 1700000
count is 1701000
count is 1702000
count is 1703000
count is 1704000
count is 1705000
count is 1706000
count is 1707000
count is 1708000
count is 1709000
count is 1710000
count is 1711000
count is 1712000
count is 1713000
count is 1714000
count is 1715000
count is 1716000
count is 1717000
count is 1718000
count is 1719000
count is 1720000
count is 1721000
count is 1722000
count is 1723000
count is 1724000
count is 1725000
count is 1726000
count is 1727000
count is 1728000
count is 1729000
count is 1730000
count is 1731000
count is 1732000
count is 1733000
count is 1734000
count is 1735000
count is 1736000
count is 1737000
count is 1738000
count is 1739000
count is 1740000
count is 1741000
count is 1742000
count is 1743000
count is 1744000
count is 1745000
count is 1746000
count is 1747000
count is 1748000
count is 1749000
count is 1750000
count is 1751000
count is 1752000
count is 1753000
count is 1754000
count is 1755000
count is 1756000
count is 1757000
count is 1758000
count is 1759000
count is 1760000
count is 1761000
count is 1762000
count is 1763000
count is 1764000
count is 1765000
count is 1766000
count is 1767000
count is 1768000
count is 1769000
count is 1770000
count is 1771000
count is 1772000
count is 1773000
count is 1774000
count is 1775000
count is 1776000
count is 1777000
count is 1778000
count is 1779000
count is 1780000
count is 1781000
count is 1782000
count is 1783000
count is 1784000
count is 1785000
count is 1786000
count is 1787000
count is 1788000
count is 1789000
count is 1790000
count is 1791000
count is 1792000
count is 1793000
count is 1794000
count is 1795000
count is 1796000
count is 1797000
count is 1798000
count is 1799000
count is 1800000
count is 1801000
count is 1802000
count is 1803000
count is 1804000
count is 1805000
count is 1806000
count is 1807000
count is 1808000
count is 1809000
count is 1810000
count is 1811000
count is 1812000
count is 1813000
count is 1814000
count is 1815000
count is 1816000
count is 1817000
count is 1818000
count is 1819000
count is 1820000
count is 1821000
count is 1822000
count is 1823000
count is 1824000
count is 1825000
count is 1826000
count is 1827000
count is 1828000
count is 1829000
count is 1830000
count is 1831000
count is 1832000
count is 1833000
count is 1834000
count is 1835000
count is 1836000
count is 1837000
count is 1838000
count is 1839000
count is 1840000
count is 1841000
count is 1842000
count is 1843000
count is 1844000
count is 1845000
count is 1846000
count is 1847000
count is 1848000
count is 1849000
count is 1850000
count is 1851000
count is 1852000
count is 1853000
count is 1854000
count is 1855000
count is 1856000
count is 1857000
count is 1858000
count is 1859000
count is 1860000
count is 1861000
count is 1862000
count is 1863000
count is 1864000
count is 1865000
count is 1866000
count is 1867000
count is 1868000
count is 1869000
count is 1870000
count is 1871000
count is 1872000
count is 1873000
count is 1874000
count is 1875000
count is 1876000
count is 1877000
count is 1878000
count is 1879000
count is 1880000
count is 1881000
count is 1882000
count is 1883000
count is 1884000
count is 1885000
count is 1886000
count is 1887000
count is 1888000
count is 1889000
count is 1890000
count is 1891000
count is 1892000
count is 1893000
count is 1894000
count is 1895000
count is 1896000
count is 1897000
count is 1898000
count is 1899000
count is 1900000
count is 1901000
count is 1902000
count is 1903000
count is 1904000
count is 1905000
count is 1906000
count is 1907000
count is 1908000
count is 1909000
count is 1910000
count is 1911000
count is 1912000
count is 1913000
count is 1914000
count is 1915000
count is 1916000
count is 1917000
count is 1918000
count is 1919000
count is 1920000
count is 1921000
count is 1922000
count is 1923000
count is 1924000
count is 1925000
count is 1926000
count is 1927000
count is 1928000
count is 1929000
count is 1930000
count is 1931000
count is 1932000
count is 1933000
count is 1934000
count is 1935000
count is 1936000
count is 1937000
count is 1938000
count is 1939000
count is 1940000
count is 1941000
count is 1942000
count is 1943000
count is 1944000
count is 1945000
count is 1946000
count is 1947000
count is 1948000
count is 1949000
count is 1950000
count is 1951000
count is 1952000
count is 1953000
count is 1954000
count is 1955000
count is 1956000
count is 1957000
count is 1958000
count is 1959000
count is 1960000
count is 1961000
count is 1962000
count is 1963000
count is 1964000
count is 1965000
count is 1966000
count is 1967000
count is 1968000
count is 1969000
count is 1970000
count is 1971000
count is 1972000
count is 1973000
count is 1974000
count is 1975000
count is 1976000
count is 1977000
count is 1978000
count is 1979000
count is 1980000
count is 1981000
count is 1982000
count is 1983000
count is 1984000
count is 1985000
count is 1986000
count is 1987000
count is 1988000
count is 1989000
count is 1990000
count is 1991000
count is 1992000
count is 1993000
count is 1994000

count is 1995000
count is 1996000
count is 1997000
count is 1998000
count is 1999000
count is 2000000
count is 2001000
count is 2002000
count is 2003000
count is 2004000
count is 2005000
count is 2006000
count is 2007000
count is 2008000
count is 2009000
count is 2010000
count is 2011000
count is 2012000
count is 2013000
count is 2014000
count is 2015000
count is 2016000
count is 2017000
count is 2018000
count is 2019000
count is 2020000
count is 2021000
count is 2022000
count is 2023000
count is 2024000
count is 2025000
count is 2026000
count is 2027000
count is 2028000
count is 2029000
count is 2030000
count is 2031000
count is 2032000
count is 2033000
count is 2034000
count is 2035000
count is 2036000
count is 2037000
count is 2038000
count is 2039000
count is 2040000
count is 2041000
count is 2042000
count is 2043000
count is 2044000
count is 2045000
count is 2046000
count is 2047000
count is 2048000
count is 2049000
count is 2050000
count is 2051000
count is 2052000
count is 2053000
count is 2054000
count is 2055000
count is 2056000
count is 2057000
count is 2058000
count is 2059000
count is 2060000
count is 2061000
count is 2062000
count is 2063000
count is 2064000
count is 2065000
count is 2066000
count is 2067000
count is 2068000
count is 2069000
count is 2070000
count is 2071000
count is 2072000
count is 2073000
count is 2074000
count is 2075000
count is 2076000
count is 2077000
count is 2078000
count is 2079000
count is 2080000
count is 2081000
count is 2082000
count is 2083000
count is 2084000
count is 2085000
count is 2086000
count is 2087000
count is 2088000
count is 2089000
count is 2090000
count is 2091000
count is 2092000
count is 2093000
count is 2094000
count is 2095000
count is 2096000
count is 2097000
count is 2098000
count is 2099000
count is 2100000
count is 2101000
count is 2102000
count is 2103000
count is 2104000
count is 2105000
count is 2106000
count is 2107000
count is 2108000
count is 2109000
count is 2110000
count is 2111000
count is 2112000
count is 2113000
count is 2114000
count is 2115000
count is 2116000
count is 2117000
count is 2118000
count is 2119000
count is 2120000
count is 2121000
count is 2122000
count is 2123000
count is 2124000
count is 2125000
count is 2126000
count is 2127000
count is 2128000
count is 2129000
count is 2130000
count is 2131000
count is 2132000
count is 2133000
count is 2134000
count is 2135000
count is 2136000
count is 2137000
count is 2138000
count is 2139000
count is 2140000
count is 2141000
count is 2142000
count is 2143000
count is 2144000
count is 2145000
count is 2146000
count is 2147000
count is 2148000
count is 2149000
count is 2150000
count is 2151000
count is 2152000
count is 2153000
count is 2154000
count is 2155000
count is 2156000
count is 2157000
count is 2158000
count is 2159000
count is 2160000
count is 2161000
count is 2162000
count is 2163000
count is 2164000
count is 2165000
count is 2166000
count is 2167000
count is 2168000
count is 2169000
count is 2170000
count is 2171000
count is 2172000
count is 2173000
count is 2174000
count is 2175000
count is 2176000
count is 2177000
count is 2178000
count is 2179000
count is 2180000
count is 2181000
count is 2182000
count is 2183000
count is 2184000
count is 2185000
count is 2186000
count is 2187000
count is 2188000
count is 2189000
count is 2190000
count is 2191000
count is 2192000
count is 2193000
count is 2194000
count is 2195000
count is 2196000
count is 2197000
count is 2198000
count is 2199000
count is 2200000
count is 2201000
count is 2202000
count is 2203000
count is 2204000
count is 2205000
count is 2206000
count is 2207000
count is 2208000
count is 2209000
count is 2210000
count is 2211000
count is 2212000
count is 2213000
count is 2214000
count is 2215000
count is 2216000
count is 2217000
count is 2218000
count is 2219000
count is 2220000
count is 2221000
count is 2222000
count is 2223000
count is 2224000
count is 2225000
count is 2226000
count is 2227000
count is 2228000
count is 2229000
count is 2230000
count is 2231000
count is 2232000
count is 2233000
count is 2234000
count is 2235000
count is 2236000
count is 2237000
count is 2238000
count is 2239000
count is 2240000
count is 2241000
count is 2242000
count is 2243000
count is 2244000
count is 2245000
count is 2246000
count is 2247000
count is 2248000
count is 2249000
count is 2250000
count is 2251000
count is 2252000
count is 2253000
count is 2254000
count is 2255000
count is 2256000
count is 2257000
count is 2258000
count is 2259000
count is 2260000
count is 2261000
count is 2262000
count is 2263000
count is 2264000
count is 2265000
count is 2266000
count is 2267000
count is 2268000
count is 2269000
count is 2270000
count is 2271000
count is 2272000
count is 2273000
count is 2274000
count is 2275000
count is 2276000
count is 2277000
count is 2278000
count is 2279000
count is 2280000
count is 2281000
count is 2282000
count is 2283000
count is 2284000
count is 2285000
count is 2286000
count is 2287000
count is 2288000
count is 2289000
count is 2290000
count is 2291000
count is 2292000
count is 2293000
count is 2294000
count is 2295000
count is 2296000
count is 2297000
count is 2298000
count is 2299000
count is 2300000
count is 2301000
count is 2302000
count is 2303000
count is 2304000
count is 2305000
count is 2306000
count is 2307000
count is 2308000
count is 2309000
count is 2310000
count is 2311000
count is 2312000
count is 2313000
count is 2314000
count is 2315000
count is 2316000
count is 2317000
count is 2318000
count is 2319000
count is 2320000
count is 2321000
count is 2322000
count is 2323000
count is 2324000
count is 2325000
count is 2326000
count is 2327000
count is 2328000
count is 2329000
count is 2330000
count is 2331000
count is 2332000
count is 2333000
count is 2334000
count is 2335000
count is 2336000
count is 2337000
count is 2338000
count is 2339000
count is 2340000
count is 2341000
count is 2342000
count is 2343000
count is 2344000
count is 2345000
count is 2346000
count is 2347000
count is 2348000
count is 2349000
count is 2350000
count is 2351000
count is 2352000
count is 2353000
count is 2354000
count is 2355000
count is 2356000
count is 2357000
count is 2358000
count is 2359000
count is 2360000
count is 2361000
count is 2362000
count is 2363000
count is 2364000
count is 2365000
count is 2366000
count is 2367000
count is 2368000
count is 2369000
count is 2370000
count is 2371000
count is 2372000
count is 2373000
count is 2374000
count is 2375000
count is 2376000
count is 2377000
count is 2378000
count is 2379000
count is 2380000
count is 2381000
count is 2382000
count is 2383000
count is 2384000
count is 2385000
count is 2386000
count is 2387000
count is 2388000
count is 2389000
count is 2390000
count is 2391000
count is 2392000
count is 2393000
count is 2394000
count is 2395000
count is 2396000
count is 2397000
count is 2398000
count is 2399000
count is 2400000
count is 2401000
count is 2402000
count is 2403000
count is 2404000
count is 2405000
count is 2406000
count is 2407000
count is 2408000
count is 2409000
count is 2410000
count is 2411000
count is 2412000
count is 2413000
count is 2414000
count is 2415000
count is 2416000
count is 2417000
count is 2418000
count is 2419000
count is 2420000
count is 2421000
count is 2422000
count is 2423000
count is 2424000
count is 2425000
count is 2426000
count is 2427000
count is 2428000
count is 2429000
count is 2430000
count is 2431000
count is 2432000
count is 2433000
count is 2434000
count is 2435000
count is 2436000
count is 2437000
count is 2438000
count is 2439000
count is 2440000
count is 2441000
count is 2442000
count is 2443000
count is 2444000
count is 2445000
count is 2446000
count is 2447000
count is 2448000
count is 2449000
count is 2450000
count is 2451000
count is 2452000
count is 2453000
count is 2454000
count is 2455000
count is 2456000
count is 2457000
count is 2458000
count is 2459000
count is 2460000
count is 2461000
count is 2462000
count is 2463000
count is 2464000
count is 2465000
count is 2466000
count is 2467000
count is 2468000
count is 2469000
count is 2470000
count is 2471000
count is 2472000
count is 2473000
count is 2474000
count is 2475000
count is 2476000

count is 2477000
count is 2478000
count is 2479000
count is 2480000
count is 2481000
count is 2482000
count is 2483000
count is 2484000
count is 2485000
count is 2486000
count is 2487000
count is 2488000
count is 2489000
count is 2490000
count is 2491000
count is 2492000
count is 2493000
count is 2494000
count is 2495000
count is 2496000
count is 2497000
count is 2498000
count is 2499000
count is 2500000
count is 2501000
count is 2502000
count is 2503000
count is 2504000
count is 2505000
count is 2506000
count is 2507000
count is 2508000
count is 2509000
count is 2510000
count is 2511000
count is 2512000

In [23]:
user_app.head()

,uId,appId,sum_category_1,sum_category_2,sum_category_3,sum_category_4,sum_category_5,sum_category_6,sum_category_7,sum_category_8,...,median_category_23,median_category_24,median_category_25,median_category_26,median_category_27,median_category_28,median_category_29,median_category_30,median_category_31,median_category_32
0,1000008,a00105157#a00109386#a00134746#a0013952#a001451...,0,0,0,0,120,20,60,0,...,0.0,10.0,0.0,0.0,10.0,0.0,0.0,10.0,10.0,10.0
1,1000010,a00102782#a00107077#a00109386#a00134746#a00136...,0,0,0,0,142,0,108,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,10.0
2,1000011,a00158535#a00163116#a00170432#a00187480#a00224...,0,0,10,0,40,0,0,0,...,0.0,10.0,10.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0
3,1000013,a00109386#a0011601#a0012768#a00136287#a0014516...,0,0,0,0,109,0,68,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,9.5,10.0
4,1000014,a00109386#a0011894#a0013059#a00134840#a0013578...,0,0,0,0,149,0,40,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,10.0

In [24]:
user_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512500 entries, 0 to 2512499
Columns: 162 entries, uId to median_category_32
dtypes: float64(64), int64(97), object(1)
memory usage: 3.0+ GB

In [25]:
user_app.to_csv('./output/version2/app_actived_new_temp.csv', index=False)

In [26]:
user_app.drop(columns = 'appId', inplace=True)
user_app.head()

,uId,sum_category_1,sum_category_2,sum_category_3,sum_category_4,sum_category_5,sum_category_6,sum_category_7,sum_category_8,sum_category_9,...,median_category_23,median_category_24,median_category_25,median_category_26,median_category_27,median_category_28,median_category_29,median_category_30,median_category_31,median_category_32
0,1000008,0,0,0,0,120,20,60,0,0,...,0.0,10.0,0.0,0.0,10.0,0.0,0.0,10.0,10.0,10.0
1,1000010,0,0,0,0,142,0,108,0,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,10.0,10.0
2,1000011,0,0,10,0,40,0,0,0,10,...,0.0,10.0,10.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0
3,1000013,0,0,0,0,109,0,68,0,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,9.5,10.0
4,1000014,0,0,0,0,149,0,40,0,0,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,10.0

In [27]:
user_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512500 entries, 0 to 2512499
Columns: 161 entries, uId to median_category_32
dtypes: float64(64), int64(97)
memory usage: 3.0 GB

In [32]:
app_actived_index = pd.read_csv('./output/app_actived_new.csv', header=None, nrows=1).values
app_actived_index

array([['uId', 'category1', 'category2', 'category3', 'category4',
        'category5', 'category6', 'category7', 'category8', 'category9',
        'category10', 'category11', 'category12', 'category13',
        'category14', 'category15', 'category16', 'category17',
        'category18', 'category19', 'category20', 'category21',
        'category22', 'category23', 'category24', 'category25',
        'category26', 'category27', 'category28', 'category29',
        'category30', 'category31', 'category32', 'category_num1',
        'category_num2', 'category_num3', 'category_num4',
        'category_num5', 'category_num6', 'category_num8', 'fre',
        'app_num']], dtype=object)

In [38]:
app_actived_index[0]

array(['uId', 'category1', 'category2', 'category3', 'category4',
       'category5', 'category6', 'category7', 'category8', 'category9',
       'category10', 'category11', 'category12', 'category13',
       'category14', 'category15', 'category16', 'category17',
       'category18', 'category19', 'category20', 'category21',
       'category22', 'category23', 'category24', 'category25',
       'category26', 'category27', 'category28', 'category29',
       'category30', 'category31', 'category32', 'category_num1',
       'category_num2', 'category_num3', 'category_num4', 'category_num5',
       'category_num6', 'category_num8', 'fre', 'app_num'], dtype=object)

In [39]:
user_app[app_actived_index[0]] = pd.read_csv('./output/app_actived_new.csv')

In [40]:
user_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512500 entries, 0 to 2512499
Columns: 202 entries, uId to app_num
dtypes: float64(65), int64(137)
memory usage: 3.8 GB

In [41]:
user_app.to_csv('./output/version2/app_actived_new.csv', index=False)

# 第二次提取完成

# 第三次特征提取

In [2]:
app_info = pd.read_csv("app_info.csv", names=['appId','category'])
cats = list(set(app_info['category']))
category2id = dict(zip(sorted(cats), range(0,len(cats))))
app_info['category'] = app_info['category'].apply(lambda x: category2id[x])
app2id = dict(zip(app_info['appId'].values, app_info['category'].values))

In [3]:
def get_cat_have(x):
    x = set(x)
    cat = []
    for i in x:
        cat.append(app2id.setdefault(i, 40))
    return np.bincount(cat, minlength=41)
def get_cat_use(x):
    cat = []
    for i in x:
        cat.append(app2id.setdefault(i, 40))
    return np.bincount(cat, minlength=41)

In [255]:
%%time
now_df = pd.DataFrame()
now_df['uid'] = df['uid'].unique()
now_df = now_df.merge(df.groupby('uid')['appId'].count().to_frame(), how='left', on='uid')
now_df = now_df.merge(df.groupby('uid')['duration', 'times'].agg(['sum']), how='left', on='uid')
now_df = now_df.merge(df.groupby('uid')['appId', 'use_date'].agg(['nunique']), how='left', on='uid')
now_df = now_df.merge(df.groupby('uid')['duration','times'].agg(['mean','max','std']), how='left', on='uid') 
now_df.columns = ['uid','usage_appid_cnt','duration_cnt','times_cnt','usage_appid_cnt','usage_date_cnt','duration_mean','duration_max','duration_std','times_mean','times_max','times_std']
now_df['day_mean_time'] = now_df.apply(lambda x: x['duration_cnt']/x['usage_date_cnt'], axis=1)
now_df['day_mean_duration'] = now_df.apply(lambda x: x['times_cnt']/x['usage_date_cnt'], axis=1 )
for i in range(41):
    now_df['app_cat_have' + str(i)] = 0
    now_df['app_cat_use' + str(i)] = 0
now_df[['app_cat_have' + str(i) for i in range(41)]] = np.vstack(df.groupby('uid')['appId'].apply(lambda x: get_cat_have(x)).values)
now_df[['app_cat_use' + str(i) for i in range(41)]] = np.vstack(df.groupby('uid')['appId'].apply(lambda x: get_cat_use(x)).values)
now_df

Wall time: 577 ms

In [8]:
#处理数据量较大的user_app_usage.csv，结合app_info.csv简单统计得到appuseProcessed.csv作为特征
def processUserAppUsage():
    resTable = pd.DataFrame()
    reader = pd.read_csv("user_app_usage.csv", names=['uid','appId','duration','times','use_date'], iterator=True)
    last_df = pd.DataFrame()
    j = 1
    while True:
        try:
            print("index: {}".format(j))
            j+=1
            df = reader.get_chunk(1000000)
            df = pd.concat([last_df, df])
            idx = df.shape[0]-1
            last_user = df.iat[idx,0]
            while(df.iat[idx,0]==last_user):
                idx-=1
            last_df = df[idx+1:]
            df = df[:idx+1]

            now_df = pd.DataFrame()
            now_df['uid'] = df['uid'].unique()
            now_df = now_df.merge(df.groupby('uid')['appId'].count().to_frame(), how='left', on='uid')
            now_df = now_df.merge(df.groupby('uid')['duration', 'times'].agg(['sum']), how='left', on='uid')
            now_df = now_df.merge(df.groupby('uid')['appId', 'use_date'].agg(['nunique']), how='left', on='uid')
            now_df = now_df.merge(df.groupby('uid')['duration','times'].agg(['mean','max','std']), how='left', on='uid') 
            now_df.columns = ['uid','usage_appid_cnt','duration_cnt','times_cnt','usage_appid_cnt','usage_date_cnt','duration_mean','duration_max','duration_std','times_mean','times_max','times_std']
            now_df['day_mean_time'] = now_df.apply(lambda x: x['duration_cnt']/x['usage_date_cnt'], axis=1)
            now_df['day_mean_duration'] = now_df.apply(lambda x: x['times_cnt']/x['usage_date_cnt'], axis=1 )
            for i in range(41):
                now_df['app_cat_have' + str(i)] = 0
                now_df['app_cat_use' + str(i)] = 0
            now_df[['app_cat_have' + str(i) for i in range(41)]] = np.vstack(df.groupby('uid')['appId'].apply(lambda x: get_cat_have(x)).values)
            now_df[['app_cat_use' + str(i) for i in range(41)]] = np.vstack(df.groupby('uid')['appId'].apply(lambda x: get_cat_use(x)).values)
            resTable = pd.concat([resTable, now_df])
        except StopIteration:
            break
    
    resTable.to_csv("appuseProcessed.csv",index=0)
    
    print("Iterator is stopped")

In [9]:
processUserAppUsage()

index: 1
index: 2
index: 3
index: 4
index: 5
index: 6
index: 7
index: 8
index: 9
index: 10
index: 11
index: 12
index: 13
index: 14
index: 15
index: 16
index: 17
index: 18
index: 19
index: 20
index: 21
index: 22
index: 23
index: 24
index: 25
index: 26
index: 27
index: 28
index: 29
index: 30
index: 31
index: 32
index: 33
index: 34
index: 35
index: 36
index: 37
index: 38
index: 39
index: 40
index: 41
index: 42
index: 43
index: 44
index: 45
index: 46
index: 47
index: 48
index: 49
index: 50
index: 51
index: 52
index: 53
index: 54
index: 55
index: 56
index: 57
index: 58
index: 59
index: 60
index: 61
index: 62
index: 63
index: 64
index: 65
index: 66
index: 67
index: 68
index: 69
index: 70
index: 71
index: 72
index: 73
index: 74
index: 75
index: 76
index: 77
index: 78
index: 79
index: 80
index: 81
index: 82
index: 83
index: 84
index: 85
index: 86
index: 87
index: 88
index: 89
index: 90
index: 91
index: 92
index: 93
index: 94
index: 95
index: 96
index: 97
index: 98
index: 99
index: 100
index: 101
index: 102
index: 103
index: 104
index: 105
index: 106
index: 107
index: 108
index: 109
index: 110
index: 111
index: 112
index: 113
index: 114
index: 115
index: 116
index: 117
index: 118
index: 119
index: 120
index: 121
index: 122
index: 123
index: 124
index: 125
index: 126
index: 127
index: 128
index: 129
index: 130
index: 131
index: 132
index: 133
index: 134
index: 135
index: 136
index: 137
index: 138
index: 139
index: 140
index: 141
index: 142
index: 143
index: 144
index: 145
index: 146
index: 147
index: 148
index: 149
index: 150
index: 151
index: 152
index: 153
index: 154
index: 155
index: 156
index: 157
index: 158
index: 159
index: 160
index: 161
index: 162
index: 163
index: 164
index: 165
index: 166
index: 167
index: 168
index: 169
index: 170
index: 171
index: 172
index: 173
index: 174
index: 175
index: 176
index: 177
index: 178
index: 179
index: 180
index: 181
index: 182
index: 183
index: 184
index: 185
index: 186
index: 187
index: 188
index: 189
index: 190
index: 191
index: 192
index: 193
index: 194
index: 195
index: 196
index: 197
index: 198
index: 199
index: 200
index: 201
index: 202
index: 203
index: 204
index: 205
index: 206
index: 207
index: 208
index: 209
index: 210
index: 211
index: 212
index: 213
index: 214
index: 215
index: 216
index: 217
index: 218
index: 219
index: 220
index: 221
index: 222
index: 223
index: 224
index: 225
index: 226
index: 227
index: 228
index: 229
index: 230
index: 231
index: 232
index: 233
index: 234
index: 235
index: 236
index: 237
index: 238
index: 239
index: 240
index: 241
index: 242
index: 243
index: 244
index: 245
index: 246
index: 247
index: 248
index: 249
index: 250
index: 251
index: 252
index: 253
index: 254
index: 255
index: 256
index: 257
index: 258
index: 259
index: 260
index: 261
index: 262
index: 263
index: 264
index: 265
index: 266
index: 267
index: 268
index: 269
index: 270
index: 271
index: 272
index: 273
index: 274
index: 275
index: 276
index: 277
index: 278
index: 279
index: 280
index: 281
index: 282
index: 283
index: 284
index: 285
index: 286
index: 287
index: 288
index: 289
index: 290
index: 291
index: 292
index: 293
index: 294
index: 295
index: 296
index: 297
index: 298
index: 299
index: 300
index: 301
index: 302
index: 303
index: 304
index: 305
index: 306
index: 307
index: 308
index: 309
index: 310
index: 311
index: 312
index: 313
index: 314
index: 315
index: 316
index: 317
index: 318
index: 319
index: 320
index: 321
index: 322
index: 323
index: 324
index: 325
index: 326
index: 327
index: 328
index: 329
index: 330
index: 331
index: 332
index: 333
index: 334
index: 335
index: 336
index: 337
index: 338
index: 339
index: 340
index: 341
index: 342
index: 343
index: 344
index: 345
index: 346
index: 347
index: 348
index: 349
index: 350
index: 351
index: 352
index: 353
index: 354
index: 355
index: 356
index: 357
index: 358
index: 359
index: 360
index: 361
index: 362
index: 363
index: 364
index: 365
index: 366
index: 367
index: 368
index: 369
index: 370
index: 371
index: 372
index: 373
index: 374
index: 375
index: 376
index: 377
index: 378
index: 379
index: 380
index: 381
index: 382
index: 383
index: 384
index: 385
index: 386
index: 387
index: 388
index: 389
index: 390
index: 391
index: 392
index: 393
index: 394
index: 395
index: 396
index: 397
index: 398
index: 399
index: 400
index: 401
index: 402
index: 403
index: 404
index: 405
index: 406
index: 407
index: 408
index: 409
index: 410
index: 411
index: 412
index: 413
index: 414
index: 415
index: 416
index: 417
index: 418
index: 419
index: 420
index: 421
index: 422
index: 423
index: 424
index: 425
index: 426
index: 427
index: 428
index: 429
index: 430
index: 431
index: 432
index: 433
index: 434
index: 435
index: 436
index: 437
index: 438
index: 439
index: 440
index: 441
index: 442
index: 443
index: 444
index: 445
index: 446
index: 447
index: 448
index: 449
index: 450
index: 451
index: 452
index: 453
index: 454
index: 455
index: 456
index: 457
index: 458
index: 459
index: 460
index: 461
index: 462
index: 463
index: 464
index: 465
index: 466
index: 467
index: 468
index: 469
index: 470
index: 471
index: 472
index: 473
index: 474
index: 475
index: 476
index: 477
index: 478
index: 479
index: 480
index: 481
index: 482
index: 483
index: 484
index: 485
index: 486
index: 487
index: 488
index: 489
index: 490
index: 491
index: 492
index: 493
index: 494
index: 495
index: 496
index: 497
index: 498
index: 499
index: 500
index: 501
index: 502
index: 503
index: 504
index: 505
index: 506
index: 507
index: 508
index: 509
index: 510
index: 511
index: 512
index: 513
index: 514
index: 515
index: 516
index: 517
index: 518
index: 519
index: 520
index: 521
index: 522
index: 523
index: 524
index: 525
index: 526
index: 527
index: 528
index: 529
index: 530
index: 531
index: 532
index: 533
index: 534
index: 535
index: 536
index: 537
index: 538
index: 539
index: 540
index: 541
index: 542
index: 543
index: 544
index: 545
index: 546
index: 547
index: 548
index: 549
index: 550
index: 551
index: 552
index: 553
index: 554
index: 555
index: 556
index: 557
index: 558
index: 559
index: 560
index: 561
index: 562
index: 563
index: 564
index: 565
index: 566
index: 567
index: 568
index: 569
index: 570
index: 571
index: 572
index: 573
index: 574
index: 575
index: 576
index: 577
index: 578
index: 579
index: 580
index: 581
index: 582
index: 583
index: 584
index: 585
index: 586
index: 587
index: 588
index: 589
index: 590
index: 591
index: 592
index: 593
index: 594
index: 595
index: 596
index: 597
index: 598
index: 599
index: 600
index: 601
index: 602
index: 603
index: 604
index: 605
index: 606
index: 607
index: 608
index: 609
index: 610
index: 611
index: 612
index: 613
index: 614
index: 615
index: 616
index: 617
index: 618
index: 619
index: 620
index: 621
index: 622
index: 623
index: 624
index: 625
index: 626
index: 627
index: 628
index: 629
index: 630
index: 631
index: 632
index: 633
index: 634
index: 635
index: 636
index: 637
index: 638
index: 639
index: 640
index: 641
index: 642
index: 643
index: 644
index: 645
index: 646
index: 647
index: 648
index: 649
index: 650
index: 651
index: 652
index: 653
Iterator is stopped

In [10]:
appuseProcessed = pd.read_csv("appuseProcessed.csv")
appuseProcessed_temp = pd.read_csv("output/appuseProcessed.csv")

In [14]:
appuseProcessed.head()

,uid,usage_appid_cnt,duration_cnt,times_cnt,usage_appid_cnt.1,usage_date_cnt,duration_mean,duration_max,duration_std,times_mean,...,app_cat_have37,app_cat_use37,app_cat_have38,app_cat_use38,app_cat_have39,app_cat_use39,app_cat_have40,app_cat_use40,category,usage_most_used_category
0,1000364,198,390756.0,6390.0,13,30,1973.515152,44845.0,4600.297805,32.272727,...,2,22,0,0,1,14,0,0,8,18.0
1,1000387,491,975205.0,30938.0,41,30,1986.160896,24954.0,3338.793126,63.010183,...,3,45,1,19,3,20,1,24,14,18.0
2,1000872,406,349616.0,22877.0,29,30,861.123153,11875.0,1912.555912,56.347291,...,3,47,1,12,5,59,1,4,12,18.0
3,1000951,223,374179.0,6360.0,21,30,1677.932735,17073.0,2826.470570,28.520179,...,2,26,0,0,1,9,1,4,11,18.0
4,1001091,1019,887591.0,35906.0,160,30,871.041217,33739.0,2445.063938,35.236506,...,13,123,1,4,18,104,11,52,20,18.0

In [12]:
appuseProcessed_temp.columns

Index(['uid', 'usage_cnt', 'usage_appid_cnt', 'usage_date_cnt',
       'duration_mean', 'duration_max', 'duration_std', 'times_mean',
       'times_max', 'times_std', 'category', 'usage_most_used_category'],
      dtype='object')

In [13]:
appuseProcessed['category'] = appuseProcessed_temp['category']
appuseProcessed['usage_most_used_category'] = appuseProcessed_temp['usage_most_used_category']

In [15]:
appuseProcessed.to_csv("appuseProcessed.csv",index=0)

# 第五次特征抽取

In [2]:
train_data = pd.read_csv('./output/version4/train_data.csv')

In [3]:
train_data.drop(columns=['uid','gender','ramCapacity','ramLeftRation','romCapacity','romLeftRation','fontSize','os','bootTimes','AFuncTimes','BFuncTimes','CFuncTimes','DFuncTimes','EFuncTimes','FFuncTimes','FFuncSum','city_num','prodName_num','color_num','carrier_num','ct_num','usage_cnt','usage_appid_cnt','usage_date_cnt','duration_mean','duration_max','duration_std','times_mean','times_max','times_std','category','usage_most_used_category','age_group' ], inplace=True)

In [4]:
train_data2 = pd.read_csv('./output/version3/train_data.csv')

In [5]:
train_data2 = pd.concat([train_data2, train_data], axis=1)

In [6]:
train_data2.head()

,uid,gender,ramCapacity,ramLeftRation,romCapacity,romLeftRation,fontSize,os,bootTimes,AFuncTimes,...,1,2,3,4,5,6,7,8,9,tfidf_sum
0,1000001,0,3.0,0.43,32.0,0.46,1.15,8.0,108,0.0,...,0.004546,0.004547,0.004546,0.253997,0.004546,0.004546,0.709631,0.004547,0.004547,4.143144
1,1000011,0,0.0,0.00,0.0,0.00,0.00,8.1,0,0.0,...,0.005886,0.005885,0.005883,0.005884,0.005884,0.947042,0.005884,0.005886,0.005883,3.218423
2,1000015,1,3.0,0.34,32.0,0.06,1.30,8.0,12,0.0,...,0.005001,0.005002,0.005001,0.754737,0.205253,0.005001,0.005002,0.005001,0.005002,3.189480
3,1000019,0,2.0,0.00,17.0,0.00,0.00,8.1,0,0.0,...,0.033333,0.033341,0.033334,0.033366,0.033334,0.033343,0.033335,0.033340,0.699939,1.256031
4,1000023,1,2.0,0.34,16.0,0.06,1.00,7.0,5,0.0,...,0.007143,0.007144,0.007143,0.935702,0.007144,0.007144,0.007147,0.007145,0.007144,2.970135

In [7]:
temp = train_data2.age_group
train_data2.drop(columns=['age_group'], inplace=True)
train_data2['age_group'] = temp

In [13]:
train_data2.to_csv('./output/version5/train_data.csv')

In [14]:
test_data = pd.read_csv('./output/version4/test_data.csv')
test_data.drop(columns=['uid','gender','ramCapacity','ramLeftRation','romCapacity','romLeftRation','fontSize','os','bootTimes','AFuncTimes','BFuncTimes','CFuncTimes','DFuncTimes','EFuncTimes','FFuncTimes','FFuncSum','city_num','prodName_num','color_num','carrier_num','ct_num','usage_cnt','usage_appid_cnt','usage_date_cnt','duration_mean','duration_max','duration_std','times_mean','times_max','times_std','category','usage_most_used_category'], inplace=True)
test_data2 = pd.read_csv('./output/version3/test_data.csv')
test_data2 = pd.concat([test_data2, test_data], axis=1)
test_data2.head()

,uid,gender,ramCapacity,ramLeftRation,romCapacity,romLeftRation,fontSize,os,bootTimes,AFuncTimes,...,1,2,3,4,5,6,7,8,9,tfidf_sum
0,1000002,1,0.0,0.26,0.0,0.59,1.0,9.0,14,0.0,...,0.001429,0.001429,0.549596,0.001429,0.001429,0.001429,0.001429,0.100566,0.001429,7.322537
1,1000003,0,8.0,0.35,128.0,0.60,1.0,9.0,13,1.0,...,0.141031,0.001235,0.082345,0.140067,0.001235,0.001235,0.629149,0.001235,0.001235,7.855082
2,1000004,1,3.0,0.36,32.0,0.09,1.0,8.0,57,0.0,...,0.003704,0.648274,0.003704,0.003705,0.003705,0.003704,0.003705,0.003705,0.003704,4.171360
3,1000005,0,6.0,0.00,68.0,0.00,0.0,9.0,0,0.0,...,0.632149,0.344987,0.002858,0.002859,0.002858,0.002858,0.002858,0.002858,0.002858,5.266798
4,1000006,0,2.0,0.19,16.0,0.42,0.0,6.0,33,0.0,...,0.009092,0.009093,0.009092,0.621194,0.306066,0.009093,0.009093,0.009092,0.009092,2.614293

In [15]:
test_data2.to_csv('./output/version5/test_data.csv')