In [1]:
# # This Python 3 environment comes with many helpful analytics libraries installed
# # It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# # For example, here's several helpful packages to load in 

# import numpy as np # linear algebra
# import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# # Input data files are available in the "../input/" directory.
# # For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# import os
# print(os.listdir("../input"))

# # Any results you write to the current directory are saved as output.

In [2]:
# import numpy as np
# import pandas as pd
# import warnings
# warnings.filterwarnings('ignore')
# path = '../input/'

In [3]:
# import lightgbm as lgb
# pd.set_option('display.max_columns',None)
# user_app_actived_reader = pd.read_csv(path + "user_app_actived.csv", names=['uid','appId'], iterator=True)

In [4]:
# app_id_used = []
# app_id_frequence = dict()
# i = 1
# while True:
#     try:
#         print("index: {}".format(i))
#         i+=1
#         df = user_app_actived_reader.get_chunk(100000)
#         for index, row in df.iterrows():
#             temp = row['appId'].split('#')
#             app_id_used += temp
# #             app_id_used = list(set(app_id_used))
# #             for app_id_key in temp:
# #                 app_id_frequence[app_id_key] = 1
# #                 app_id_frequence[app_id_key] = 1 if app_id_key not in app_id_frequence.keys() else app_id_frequence[app_id_key] + 1
#     except StopIteration:
#         break

In [5]:
# from collections import Counter
# counter = Counter(app_id_used)

In [6]:
# counter = pd.DataFrame(data={
#     'appId': list(counter.keys()),
#     'app_fre': list(counter.values())
# })

In [7]:
# counter.describe()

In [8]:
# id2fre_dict = dict(zip(counter.appId.values, counter.app_fre.values))

In [9]:
# app_id_used = set(counter.appId.values)

In [10]:
# app_info = pd.read_csv(path + 'app_info.csv', names=['appId','category'])

In [11]:
# app_id_exist = set(app_info.appId.values)

In [12]:
# app_id_not_exist = app_id_used.difference(app_id_exist)
# app_id_intersection = app_id_exist.intersection(app_id_used)

In [13]:
# print(len(app_id_not_exist), len(app_id_intersection), len(app_id_exist), len(app_id_used))

In [14]:
# df_intersection = pd.DataFrame()
# df_intersection['appId'] = list(app_id_intersection)
# df_intersection.head()

In [15]:
# df_intersection = pd.merge(df_intersection, app_info, on='appId', how='left')

In [16]:
# df_intersection.describe()

In [17]:
# df_diff = pd.DataFrame()

**暂时作为未知进行处理，后面考虑进行分类别？**

In [18]:
# df_diff['appId'] = list(app_id_not_exist)
# # 暂时作为未知进行处理
# df_diff['category'] = '未知'
# app_info_used = df_intersection.append(df_diff)

In [19]:
# app_info_used.describe()

In [20]:
# app_info_used[app_info_used.appId == 'a00313693']

In [21]:
# app_info_used['frequency'] = app_info_used['appId'].apply(lambda x: id2fre_dict[x])

In [22]:
# app_info_appId_counter = Counter(app_info_used['appId'].values)

In [23]:
# app_info_used['category_num'] = app_info_used['appId'].apply(lambda x: app_info_appId_counter[x])

In [24]:
# app_info_used.head()

添加category_id字段，也就是category映射到32个字段上，同时添加frequency_inv字段，**暂时取2512500/frequency** 2512500是总人数

In [25]:
# category2id = dict(zip(np.unique(app_info_used.category.values), np.arange(1, 33)))

In [26]:
# category2id

In [27]:
# app_info_used['category_id'] = app_info_used.category.apply(lambda x: category2id[x])
# app_info_used['frequency_inv'] = 2512500/app_info_used['frequency']

In [28]:
# app_info_used.head()

In [29]:
# app_info_used = app_info_used.sort_values(by=['appId'])

In [30]:
# app_info_used.head()

In [31]:
# app_info_used.index = np.arange(0, len(app_info_used.index))

In [32]:
# app_info_used.head()

In [33]:
# id2category_dict = dict()
# id2freq = dict()
# id2category_num = dict()
# for index, row in app_info_used.iterrows():
#     if row['appId'] in id2category_dict:
#         id2category_dict[row['appId']] += [row['category_id']]
        
#     else:
#         id2category_dict[row['appId']] = [row['category_id']]
#         id2freq[row['appId']] = row['frequency_inv']
#         id2category_num[row['appId']] = row['category_num']

In [34]:
# [str(i)+ 'jjj' for i in id2category_dict['a00143562']]

## id2category_dict = dict()  app_id -> category
## id2freq = dict()           app_id -> freq
## id2category_num = dict()   app_id -> category_num

## app_info_used 是app信息表格

In [35]:
# age_test = pd.read_csv(path + 'age_test.csv', names = ['uId'])
# age_train = pd.read_csv(path + 'age_train.csv', names = ['uId'], usecols=[0])
# age_test = list(age_test.uId.values)
# age_uid_total = age_test + list(age_train.uId.values)
# age_uid_total = set(age_uid_total)
# app_actived = pd.read_csv(path + 'user_app_actived.csv', header=None, names = ['uId', 'appId'])
# app_actived_uid = set(app_actived.uId.values)

In [36]:
# app_actived

没有缺失值，这是一件值得开心的事情

In [37]:
# len(age_uid_total.difference(app_actived_uid))

In [38]:
# app_actived_uid == age_uid_total

In [39]:
# len(app_actived_uid)

用户表 添加 category_num   [1, 2, 3, 4, 5, 6, 8] 7个 字段、添加category  1-32个字段

In [40]:
# category_index = ['category' + str(i + 1) for i in range(32)]
# len(category_index)
# category_num_index = ['category_num' + str(i) for i in [1, 2, 3, 4, 5, 6, 8]]
# len(category_num_index)
# new_index = category_index + category_num_index

In [41]:
# for index in new_index:
#     app_actived[index] = 0
#     app_actived[index] = app_actived[index].astype(int)

In [42]:
# app_actived['fre'] = 0.0

In [43]:
# app_actived.head()

In [44]:
# max(id2category_num.values())

In [45]:
# # id2category_dict = dict()
# # id2freq = dict()
# # id2category_num = dict()
# def get_statis(app_id_list):
#     app_id = app_id_list.split('#')
#     temps = np.zeros(39, dtype=int)
#     freq = 0
#     for i in app_id:
#         temps[np.array(id2category_dict[i]) - 1] += 1
#         freq += id2freq[i]
#         temp_num = id2category_num[i]
#         if temp_num == 8:
#             temp_num = 7
#         temps[temp_num + 32 - 1] += 1
# #     temps = np.array(list(temps).append(freq))
#     return list(temps) + [freq]

In [46]:
# index = new_index + ['fre']

In [47]:
# temp = app_actived.appId.apply(lambda x: get_statis(x))

In [48]:
# len(temp[1])

In [49]:
# len(index)

In [50]:
# temp2 = app_actived[index].iloc[0]

In [51]:
# temp2[index] = temp[1]

In [52]:
# for i in range(app_actived.shape[0]):
#     app_actived[index] = temp[i]

In [53]:
# app2fea_dict = dict(zip(app_actived.uId.values, temp))

In [54]:
# app_actived[index] = np.vstack(app_actived.uId.apply(lambda x:np.array(app2fea_dict[x])).values)
# app_actived.head()

In [55]:
# %whos

In [56]:
# app_actived['app_num'] = app_actived.appId.apply(lambda x: len(x.split('#')))

In [57]:
# app_actived.head()

## 转变存储格式

In [58]:
# app_actived['app_num'] = app_actived['app_num'].astype(int)
# app_actived[new_index] = app_actived[new_index].astype(int)

# # 丢弃app_id列
# app_actived.drop(columns = 'appId', inplace=True)

In [59]:
# app_actived.head()

In [60]:
# app_actived.to_csv('app_actived_new.csv', index=False)

In [61]:
# app_info_used.to_csv('app_info_used.csv', index=False)

In [62]:
# ls

## app_actived处理完毕
接下来进行marge然后训练模型

In [63]:
# %whos

# 第五次特征工程，希望不爆

In [64]:
import pandas as pd
import seaborn as sns
import numpy as np
from tqdm import tqdm
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import lightgbm as lgb
from datetime import datetime,timedelta  
import matplotlib.pyplot as plt
import time
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
%matplotlib inline

In [65]:
PATH = '../input/'
# age_train = pd.read_csv(PATH + "age_train.csv", names=['uid','age_group'])
# age_test = pd.read_csv(PATH + "age_test.csv", names=['uid'])
user_app_actived = pd.read_csv(PATH + "user_app_actived.csv", names=['uid','appId'])

In [66]:
import warnings
warnings.filterwarnings('ignore')
user_app_actived['appId']=user_app_actived['appId'].apply(lambda x:x.split('#'))
user_app_actived['appId_lenghth']=user_app_actived['appId'].apply(lambda x:len(x))
apps=user_app_actived['appId'].apply(lambda x:' '.join(x)).tolist()
user_app_actived.drop('appId',axis=1, inplace=True)
vectorizer=CountVectorizer()
transformer=TfidfTransformer()
cntTf = vectorizer.fit_transform(apps)
tfidf=transformer.fit_transform(cntTf)
word=vectorizer.get_feature_names()

In [67]:
tfidf

<2512500x9400 sparse matrix of type '<class 'numpy.float64'>'
	with 101799448 stored elements in Compressed Sparse Row format>

In [68]:
tfidf_sum = dict()
for i in tqdm(range(2512500)):
    tfidf_sum[i] = tfidf.getrow(i).sum()
tfidf_sum = pd.Series(tfidf_sum)

100%|██████████| 2512500/2512500 [05:32<00:00, 7562.63it/s]

In [69]:
tfidf = pd.DataFrame()
tfidf['tfidf_sum'] = tfidf_sum

In [70]:
# weight=np.asarray(tfidf)
# df_weight=pd.DataFrame(weight)
# feature=df_weight.columns
# df_weight['sum']=0
# for f in tqdm(feature):
#     df_weight['sum']+=df_weight[f]
# user_app_actived['tfidf_sum']=df_weight['sum']

In [71]:
lda = LatentDirichletAllocation(n_topics=10,
                                learning_offset=50.,
                                random_state=666)
docres = lda.fit_transform(cntTf)

In [72]:
docres

array([[0.00066489, 0.00066489, 0.29318592, ..., 0.00066489, 0.00066489,
        0.00066489],
       [0.00067935, 0.00067935, 0.00067935, ..., 0.00067935, 0.00067935,
        0.00067935],
       [0.00183824, 0.00183824, 0.00183824, ..., 0.00183824, 0.00183824,
        0.00183824],
       ...,
       [0.00084459, 0.00084459, 0.00084459, ..., 0.00084459, 0.44384919,
        0.00084459],
       [0.00115741, 0.00115741, 0.06667993, ..., 0.00115741, 0.00115741,
        0.00115741],
       [0.00086806, 0.00086806, 0.00086806, ..., 0.00086806, 0.00086806,
        0.00086806]])

In [73]:
user_app_actived=pd.concat([user_app_actived,pd.DataFrame(docres)],axis=1)

In [74]:
user_app_actived=pd.concat([user_app_actived,tfidf], axis=1)

In [75]:
age_train = pd.read_csv(PATH + "age_train.csv", names=['uid','age_group'])
age_test = pd.read_csv(PATH + "age_test.csv", names=['uid'])
age_train=pd.concat([age_train,age_test])

In [76]:
age_train=pd.merge(age_train,user_app_actived,on='uid',how='left')
age_train['age_group']=age_train['age_group'].apply(lambda x:str(x))
def tool(x):
    if x=='nan':
        return x
    else:
        return str(int(float(x)))
age_train['age_group']=age_train['age_group'].apply(tool)
age_train=age_train.replace({'nan':np.NaN,'nan-nan':np.NaN})
age_train.head()
# train=deviceid_train[deviceid_train['sex'].notnull()]
# test=deviceid_train[deviceid_train['sex'].isnull()]

  age_group      uid  appId_lenghth    ...            30        31  tfidf_sum
0         4  1000001             21    ...      0.001420  0.001420   4.143144
1         3  1000011             16    ...      0.001838  0.001838   3.218423
2         5  1000015             19    ...      0.001563  0.001563   3.189480
3         3  1000019              2    ...      0.010417  0.010417   1.256031
4         2  1000023             13    ...      0.002232  0.002232   2.970135

[5 rows x 36 columns]

In [77]:
age_train.to_csv('./train.csv', index=False)

In [78]:
age_train.head()

  age_group      uid  appId_lenghth    ...            30        31  tfidf_sum
0         4  1000001             21    ...      0.001420  0.001420   4.143144
1         3  1000011             16    ...      0.001838  0.001838   3.218423
2         5  1000015             19    ...      0.001563  0.001563   3.189480
3         3  1000019              2    ...      0.010417  0.010417   1.256031
4         2  1000023             13    ...      0.002232  0.002232   2.970135

[5 rows x 36 columns]

In [79]:
train=age_train[age_train['age_group'].notnull()]
test=age_train[age_train['age_group'].isnull()]

In [80]:
train.head()

  age_group      uid  appId_lenghth    ...            30        31  tfidf_sum
0         4  1000001             21    ...      0.001420  0.001420   4.143144
1         3  1000011             16    ...      0.001838  0.001838   3.218423
2         5  1000015             19    ...      0.001563  0.001563   3.189480
3         3  1000019              2    ...      0.010417  0.010417   1.256031
4         2  1000023             13    ...      0.002232  0.002232   2.970135

[5 rows x 36 columns]

In [81]:
test.head()

        age_group      uid    ...            31  tfidf_sum
2010000       NaN  1000002    ...      0.000446   7.322537
2010001       NaN  1000003    ...      0.000386   7.855082
2010002       NaN  1000004    ...      0.001157   4.171360
2010003       NaN  1000005    ...      0.000893   5.266798
2010004       NaN  1000006    ...      0.002841   2.614293

[5 rows x 36 columns]

In [82]:
train.to_csv('./train_data.csv', index=False)
test.to_csv('./test_data.csv', index=False)